[2018-04-05 21:26] adarob opened #5 "Core: Add ChordEncoder(s)"
We need to implement the encode functionality from https://github.com/tensorflow/magenta/blob/magenta/music/chords_encoder_decoder.py

https://github.com/danigb/tonal should be extremely useful.

[2018-04-05 21:28] adarob commented on #5
@teropa, @iansimon has offered to take care of this part.

[2018-04-05 21:29] adarob opened #6 "Add support for chord conditioning in MusicRNN."
A la ImprovRNN and using the encoders from #5.

[2018-04-05 21:29] adarob commented on #6
@teropa, can you take care of this one?

[2018-04-05 21:30] adarob opened #7 "Add support for chord conditioning in MusicVAE"
Using the encoders from #5.

[2018-04-05 21:30] adarob opened #8 "Add tests for DataConverters."

[2018-04-05 21:34] adarob opened #9 "Add "trio" DataConverter."

[2018-04-05 22:05] adarob opened #10 "Add support for attention models to MusicRNN."
@teropa, do you want to take this one too or should I?

[2018-04-05 22:06] adarob opened #11 "Switch to new TensorFlow.js checkpoints."

[2018-04-06 05:09] teropa commented on #6
@adarob Yep!

[2018-04-06 05:31] teropa commented on #10
Sure, I'll take a stab at rolling in the code I have over the weekend.

Will be testing with these:
https://storage.googleapis.com/download.magenta.tensorflow.org/models/music_rnn/dljs/attention_rnn/manifest.json
https://storage.googleapis.com/download.magenta.tensorflow.org/models/music_rnn/dljs/drums_rnn/manifest.json (this one I've been using already)

[2018-04-07 01:56] adarob commented on #5
#13

[2018-04-07 10:47] teropa opened #14 "Add attention melody checkpoint."
AFAICT, attention-based models (#10)  are using encodings not currently supported by magenta-js converters:

* Melody attention_rnn uses a [KeyMelodyEncoderDecoder](https://github.com/tensorflow/magenta/blob/master/magenta/models/melody_rnn/melody_rnn_model.py#L169) with attack, ascending/descending, lookback, and a binary clock.
* Drums RNN uses a [one-hot multi-drum encoding](https://github.com/

[2018-04-07 15:07] adarob commented on #14
How about we add something like nextInput to the DataConverters that
concats all the additional info. Would this work? I haven't had a chance to
look back at the old code.

On Sat, Apr 7, 2018, 7:44 AM Adam Roberts <adarob@google.com> wrote:

[2018-04-07 15:45] teropa commented on #14
I'll try with the drums one as I'm already familiar with it. Just needs the 2^9 one-hot encoder and then the binary counter.

I think it should be possible to compose `DataConverter`s similar to how encoders are composed in Python. Will need to try. Not sure how to express this in the `converter.json` though. Would need to specify either an array of converters, or then just introduce new types for

[2018-04-07 16:45] adarob commented on #14
I see your point. One option could be to add a pipe character to the type
field in the spec and add an new ConverterArgs type that is composed of 2
different args.

The other is just to add these two specific converters and be done with it
since I don't foresee us adding others like this in the future.

On Sat, Apr 7, 2018, 8:46 AM Tero Parviainen <notifications@github.com>
wrote:

[2018-04-10 18:12] adarob commented on #14
The current plan is to remove the case of having dependencies between the inputs and outputs aside from the one-hot sample. We will only allow an independent control sequence to be concatenated (#20).

I am going to try training an attention melody model without these dependencies to see how it compares.

[2018-04-10 20:40] #9 closed

[2018-04-12 05:42] adarob opened #22 "Converters and models should use valid quantized NoteSequences"

[2018-04-13 19:38] adarob commented on #8
Fixed by #23

[2018-04-13 19:38] #8 closed

[2018-04-13 19:39] adarob commented on #10
FYI, the binary clock code is now checked in via #25 so the drum model should be unblocked.

[2018-04-13 20:41] adarob commented on #5
Closed by #25.

[2018-04-13 20:41] #5 closed

[2018-04-13 23:26] adarob opened #26 "Add support for PerformanceRNN"

[2018-04-14 10:08] teropa opened #27 "Merge packages into a single package."
Many projects need functionality both from `core` and `music_rnn`/ `music_vae`. For example, you may need to use the NoteSequence or ControlSignal libraries as well as the main model class.

Also, some projects may use _both_ RNN and VAE.

Currently this doesnt seem possible as RNN and VAE are in separate bundles, both of which contain their own copy of core as well as Tensorflow.

Would it make s

[2018-04-14 14:30] adarob commented on #27
This is a good point. Is it not possible to import the two bundles
separately?

On Sat, Apr 14, 2018, 3:08 AM Tero Parviainen <notifications@github.com>
wrote:

[2018-04-14 15:58] teropa commented on #27
It's possible if you Yarn/NPM install it and `import`.

But when using the browserified bundles (e.g. on Codepen) each of `magenta.js`, `musicrnn.js`, and `musicvae.js` has its own copy of Tensorflow causing some load errors (as well as a lot more weight)

[2018-04-14 16:07] adarob commented on #27
Makes sense. Do you know how to set this up?

We could also consider making a single package instead of separating out
the models.

On Sat, Apr 14, 2018, 8:58 AM Tero Parviainen <notifications@github.com>
wrote:

[2018-04-14 16:10] teropa commented on #27
Yes, might make sense to add a new `index.ts` somewhere that pulls in everything, and then a build target that browserifies it.

[2018-04-14 16:26] adarob commented on #27
I could imagine having a package called @magenta/models that combines all of the model packages. This is basically what you are suggesting. We can decide on something on Monday when @cghawthorne can also weigh in.

[2018-04-17 19:32] teropa commented on #27
No objections at all, sounds good. I think that's a fairly typical pattern anyway.

[2018-04-17 21:36] adarob opened #29 "Support playback of NoteSequences."

[2018-04-17 21:37] adarob commented on #14
I will add a

[2018-04-17 21:50] adarob opened #30 "Create new spec combining model, data converter, and control sequence info."

[2018-04-17 21:59] cghawthorne commented on #22
Should also implement ability to concatenate quantized sequences. When we do this, we can assume it is ok to throw out unquantized timing information.

[2018-04-17 23:33] adarob opened #31 "Update README and add landing page to website."

[2018-04-18 17:06] #10 closed

[2018-04-18 17:17] adarob commented on #27
Our current plan is to move all of our current packages into a single @magenta/music package, leaving room for future models that don't work with NoteSequences.

@cghawthorne, we should probably restructure the directories, e.g., move music_vae.ts and music_rnn.ts into a models directory. data.ts should probably be renamed to converters.ts since we have other data libs.

[2018-04-18 23:48] adarob commented on #11
Include checkpoints for:
- [ ] Melody BasicRNN
- [ ] Melody AttentionRNN (w/o special inputs)
- [ ] DrumsRNN
- [ ] ImprovRNN
- [ ] PerformanceRNN
- [ ] MusicVAE: 2-bar Melody
- [ ] MusicVAE: 4-bar Melody
- [ ] MusicVAE: 2-bar Drums (hi kl)
- [ ] MusicVAE: 2-bar Drums (lo kl)
- [ ] MusicVAE: 4-bar Drums
- [ ] MusicVAE: 4-bar Trio
- [ ] MusicVAE: 16-bar Trio

Quantize the larger ones. We should also

[2018-04-18 23:49] adarob commented on #14
Covered by #11

[2018-04-18 23:49] #14 closed

[2018-04-19 20:49] hrldcpr opened #34 "Missing type declaration in music-vae npm module"
As far as I can tell, the `@magenta/music-vae` module currently in NPM (v1.1.4) has no `.d.ts` file included.

You can try:
[code]

I assume this is unintentional, since package.json includes `"types": "es5/index.d.ts"`, and `@magenta/core` includes type declarations.

Anyway just fyi, thanks!

[2018-04-19 20:58] adarob commented on #34
I don't think you need those files in the npm package. Have you tried doing
'yarn add @magenta/music-vae && yarn install'.

On Thu, Apr 19, 2018 at 1:49 PM harold cooper <notifications@github.com>
wrote:

[2018-04-19 21:06] hrldcpr commented on #34
@adarob Thanks, yeah I tried it with yarn as well.

Perhaps since package.json specifies `"main": "es5/index.js"`, there's no way for typescript to know to use `src/index.ts` instead…

Have you had success getting the types via the npm module in a typescript project? (I only noticed that I'm not getting the types because I have `noImplictAny` set in my tsconfig.)

[2018-04-19 21:15] hrldcpr commented on #34
I went ahead and built this project locally and then copied `es5/*.d.ts` into my other project's `node_modules/@magenta/music-vae/es5/` folder, and now typescript is happy ✨

So as far as I can tell, you should include those files in the published package. (Which is also consistent with `@magenta/core` including the files.)

[2018-04-19 22:05] adarob commented on #34
Ah, thanks! I will update shortly.

On Thu, Apr 19, 2018 at 2:16 PM harold cooper <notifications@github.com>
wrote:

[2018-04-20 02:50] hrldcpr commented on #34
Cool thanks! (And no rush on my end.)

[2018-04-20 02:55] adarob commented on #34
Can you see if it's fixed now?

On Thu, Apr 19, 2018 at 7:50 PM harold cooper <notifications@github.com>
wrote:

[2018-04-20 03:04] hrldcpr commented on #34
Yup looks like it! Thanks 👍

[2018-04-20 03:04] #34 closed

[2018-04-20 06:01] merfii opened #35 "How to train my own model"
I followed the procedule in
[here](https://github.com/tensorflow/magenta/tree/master/magenta/models/music_vae)
to train my own model. After training, when using
`new musicvae.MusicVAE(melodiesModelCheckPoint)`
the MusicVAE.js just said

I just want to know how to generate manifest.json file from model.ckpt.xxxx folder?
Thanks!

[2018-04-20 06:07] adarob commented on #35
Hi Mafi,

Sorry that the procedure isn't fully explained. We are currently working on
updating everything to work with the new tensorflow.js, so stay tuned for
that.
For now, you can use this legacy deeplearnjs script to dump the weights
from your trained checkpoint to a format that MusicVAE.js can read:
https://github.com/PAIR-code/deeplearnjs-legacy-loader

-Adam

On Thu, Apr 19, 2018 at 11:01 P

[2018-04-20 21:14] adarob commented on #11
This is partially blocked by adding checkpoint quantization support for tfjs, which is now under review:
https://github.com/tensorflow/tfjs-core/pull/965
https://github.com/tensorflow/tfjs-converter/pull/87

[2018-04-23 18:47] adarob commented on #35
You can either include the converter.json file in the checkpoint directory, or you can pass in a DataConverter to the MusicVAE constructor. Either way, you have to specify the correct parameters based on the model you trained. Which config did you use to train the model?

[2018-04-23 20:14] adarob commented on #31
First draft: https://github.com/adarob/magenta-js/blob/rad/music/README.md
@iansimon @cghawthorne @teropa PTAL

[2018-04-23 22:56] #27 closed

[2018-04-23 23:07] cghawthorne commented on #31
LGTM

[2018-04-24 01:13] adarob commented on #35
FYI, we've also just updated the package to use the new tfjs checkpoints. Please see the new (still incomplete) readme at https://github.com/tensorflow/magenta-js/tree/master/music.

There are still a few parts of this newer package that are incomplete, but we will have everything in a good state by the end of the week.

[2018-04-24 16:38] #29 closed

[2018-04-24 17:47] adarob opened #49 "Deal with tone.js deprecations."
music_vae_bundle.js:23113 [Deprecation] AudioParam value setter will become equivalent to AudioParam.setValueAtTime() in M65, around March 2018  See https://webaudio.github.io/web-audio-api/#dom-audioparam-value for more details.
music_vae_bundle.js:23118 [Deprecation] BiquadFilterNode.frequency.value setter smoothing is deprecated and will be removed in M64, around January 2018. Please use setTar

[2018-04-26 04:59] teropa commented on #49
These are Tone.js-internal (non-)issues, Chrome warning about dezippering removal with apparently nothing to be done Tonejs/Tone.js#288, Tonejs/Tone.js#282

[2018-04-26 05:02] teropa opened #56 "Remove Tone.js from JavaScript package?"
The package at https://cdn.jsdelivr.net/npm/@magenta/music@0.0.5/dist/magentamusic.min.js now includes Tone.js as well, as the player using it is exported from `core.ts`.

I don't think this is something users would expect, and may cause issues with projects using other versions of Tone.

[2018-04-26 05:27] adarob commented on #56
I like having the player accessible from our package. Is there any way to
make this work?

On Wed, Apr 25, 2018, 10:02 PM Tero Parviainen <notifications@github.com>
wrote:

[2018-04-26 05:27] adarob commented on #56
@cghawthorne

On Wed, Apr 25, 2018, 10:27 PM Adam Roberts <adarob@google.com> wrote:

[2018-04-26 05:48] teropa commented on #56
Should still be possible by using an NPM peer dependency, and possibly
configuring Browserify so that it doesn't include Tone but just expects it
to be around.

2018-04-26 5:27 GMT+00:00 Adam Roberts <notifications@github.com>:

[2018-04-26 11:05] adarob commented on #56
But that would make this example no longer work, correct?
https://github.com/tensorflow/magenta-js/blob/master/music/README.md#getting-started

[2018-04-26 12:46] adarob commented on #56
Yeah, I think we'll need something like gulp to do that:
https://9elements.com/io/external-bundles-with-browserify-and-gulp/

[2018-04-26 13:04] adarob commented on #56
@tambien do you have a suggestion for handling this?

[2018-04-26 14:30] tambien commented on #56
i'm actually working on this myself. Tone.js currently doesn't play too nice when it's loaded multiple times on a page. i was talking to someone yesterday about this and may have a solution to the problem. i think it could be as simple as setting a browser global so that all versions can access the same AudioContext.

[2018-04-26 15:04] adarob commented on #56
I was also looking into leaving it out of our bundle and expecting it to
loaded separately if our player is used.  However it seems that tone is not
found by my bundle even if I load the tone bundle first. If I browserify my
own bundle with only tone in it and load that first, it does work. Any
ideas?

On Thu, Apr 26, 2018, 7:30 AM Yotam Mann <notifications@github.com> wrote:

[2018-04-26 16:01] adarob commented on #56
I think I know how to do it now. I'll give it a try this afternoon.

On Thu, Apr 26, 2018, 8:03 AM Adam Roberts <adarob@google.com> wrote:

[2018-04-26 19:34] tambien commented on #56
@teropa i've got a question, is the reason that you don't want Tone.js packaged into magenta is bc you're using Tone.js in the rest of your app and that'll cause two versions of Tone.js to be loaded?

talking with @adarob about this, i think i can add a global to Tone.js to make it so that multiple instances running at the same time share the same AudioContext and so they play nice with each other

[2018-04-26 19:38] teropa commented on #56
@tambien Yep, exactly. And I imagine a lot of people will be doing this. If the versions won't step on each other's toes then should be fine.

@adarob Ah, hadn't realized the player would be for main package inclusion too, that changes things a bit. :)

[2018-04-26 19:59] tambien commented on #56
@teropa ok good to understand what the objective is. i'm going to try something with this next release that will hopefully accommodate this use case. i think you're right that there will be a number of people trying to include tone on a project like this which already includes tone as a dependency. i had this same issue with the [Piano](https://tambien.github.io/Piano/) and i never quite got a sol

[2018-04-26 21:49] adarob commented on #56
Cool, so the plan is to leave the package as-is for now and weight until @tambien can make changes to tone. @teropa, is this blocking you from updating your codepens?

[2018-04-27 02:46] #35 closed

[2018-04-27 22:28] #49 closed

[2018-04-27 22:28] #31 closed

[2018-04-27 22:28] #22 closed

[2018-04-27 22:28] #11 closed

[2018-04-27 22:28] #6 closed

[2018-04-27 22:29] adarob commented on #7
Waiting to close until we have a demo model.

[2018-04-27 22:30] adarob commented on #30
Closed by #59

[2018-04-27 22:30] #30 closed

[2018-04-27 22:31] adarob commented on #11
Closed by #55

[2018-05-04 03:59] theangellmethod opened #74 "Two broken links in music/README.md"
The MusicRNN and (2) MusicVAE links are 404.

MusicRNN link:
https://github.com/tensorflow/magenta-js/blob/master/music/music_rnn

MusicVAE links:
https://github.com/tensorflow/magenta-js/blob/master/music/music_vae
https://g.co/musicvae

[2018-05-04 04:04] adarob commented on #74
Fixed. Thanks!

[2018-05-04 04:04] #74 closed

[2018-05-09 19:10] bumboomtamtam opened #78 "Missing module.js"
Hello,
seems like there still are calls to module.js in the 1.0.0 version of the package
plus core subfolders are empty, don't know if that's allright

[2018-05-10 15:48] adarob commented on #78
Can you clarify a bit more where you are seeing this? Are you talking about the npm package?

[2018-05-14 05:12] teropa opened #80 "Files missing from NPM package"
When I install `@magenta/music` (1.0.0) with NPM/Yarn, the full contents of the package are as follows:

[code]

I.e. all the folders under `es5` are empty.

In a Webpack project this causes the following build error when I try to `import * as mm from '@magenta/music'`:

[code]

[2018-05-14 13:27] adarob commented on #78
Duplicate of #80

[2018-05-14 13:27] #78 closed

[2018-05-14 13:28] adarob commented on #80
Updated package 1.0.1 fixes this issue.

[2018-05-15 03:47] teropa commented on #80
With 1.0.1 there's still one missing file failure from Webpack:

[code]

[2018-05-15 04:26] adarob commented on #80
I tried setting allowJs to true in tsconfig, which seems to work, but I also get:

[code]

[2018-05-15 04:48] adarob commented on #80
After some research, I believe copying proto.js and proto.d.ts into the e5s/protobuf dir would solve the issue, but I want see if @cghawthorne has a better solution first.

[2018-05-15 19:09] #80 closed

[2018-05-21 19:29] adarob opened #84 "Support easier downloading of MIDI and add to simple demo."

[2018-05-21 19:31] adarob commented on #7
Done

[2018-05-21 19:31] #7 closed

[2018-05-25 21:28] starakaj commented on #56
Hey all, first of all thanks for all the amazing work here. I'm really excited to start playing around with the code and to try to get Magenta running in some new contexts.

I'm also running into an issue with Tone in the package, though it has less to do with conflicting versions of Tone, and more to do with getting Magenta working outside of a browser. Right now I'm trying to get the drum rnn ex

[2018-05-29 23:52] adarob opened #92 "Move checkpoints to new GCS bucket."

[2018-05-29 23:53] adarob opened #93 "Move soundfonts to new GCS bucket."

[2018-05-29 23:56] adarob commented on #84
Done. goo.gl/magenta/simpletriodl.

[2018-05-29 23:56] #84 closed

[2018-05-30 00:18] adarob commented on #93
Move done for js soundfonts.

[2018-05-31 17:33] #93 closed

[2018-05-31 17:36] #92 closed

[2018-06-26 12:37] Apisov opened #103 "Uncaught TypeError: Cannot read property '1' of null during saving a midi file"
In all code pens from [Multitrack VAE](https://magenta.tensorflow.org/multitrack) I wasn't able to save the result as a midi file.

In the console, I see this log:

[code]

At the top level the exception happens when `sequenceProtoToMidi` method is called.
But the cause is somewhere in the autogenerated code I suppose:

![1](https://user-images.githubusercontent.com/7279438/41911948-1a5e4cac-791c-

[2018-06-26 15:49] adarob commented on #103
I haven't been able to reproduce this. Is it happening every time for you?

[2018-06-26 17:55] Apisov commented on #103
Unfortunately, yes. I've tried Chrome, Opera browsers.
I remember this problem since the blog was posted.
Will try to do something with my machine(try other browsers, etc).

[2018-06-26 18:29] adarob commented on #103
Does the download work for you on this one?
https://goo.gl/magenta/simpletriodl

[2018-06-26 22:32] Apisov commented on #103
Yes, it works now.

Also, I forgot about another issue - the playback from the pens is glitchy slow. It sounds as when CPU is drastically overloaded.

[2018-06-26 22:50] adarob commented on #103
Apisov, does it only work now in that link I sent or all of them?

[2018-06-26 23:09] Apisov commented on #103
I'm sorry if I wasn't specific, I meant only it works only in that you've posted here.
https://goo.gl/magenta/simpletriodl

The pens from the post still doesn't work.

[2018-06-27 00:29] iansimon commented on #103
Does it work in https://goo.gl/magenta/simpletriodl if you use the version of magenta/music used in multitrack?  Try changing line 3 of the HTML to:

`<script src="https://cdn.jsdelivr.net/npm/@magenta/music@1.1.1"></script>`

Trying to see if it's something to do with the MIDI conversion code or the sequences generated by multitrack.

[2018-06-27 11:10] Apisov commented on #103
It's strange but I wasn't able to download the model when I had changed it to `1.1.1`.

It just stays on "Loading model (25 MB)..."

[2018-06-28 05:48] iansimon commented on #103
That's very strange, the Simple Trio pen should have no problem loading on 1.1.1.  You could try 1.1.5 but I'm completely stumped as to what could be going on.  Maybe you have something weird cached, and it will help to check "Disable cache (while DevTools is open)" in Chrome console preferences; to be clear, I don't think that's the problem here but can't hurt to try...

[2018-06-30 13:56] Apisov commented on #103
The Simple Trio pen has no problem loading on 1.1.1 or 1.1.5.

These pens have the problem loading 1.0.3:
https://codepen.io/iansimon/pen/GGRYJZ
https://codepen.io/iansimon/pen/Bxgbgz

Removing the cache didn't help...
Well, it's most likely something on my side will try to find the difference between the Simple Trio and others pens.

[2018-06-30 14:14] Apisov commented on #103
There is might be a problem with the model.
So, I've replaced `trio_4bar` to `multitrack_fb256` in the Simple Trio pen and now I have the same error in the console during saving:
[code]

[2018-07-12 11:58] naotokui opened #106 "compatilibity??"
Hi,

I've trained a DrumsRNN model with my own drum sequence dataset and been trying to use it with magenta-js.  When I load the model, I get errors apparently caused by the differences in the layer structure described in `weights_manifest.json`. I suspect that it is a compatibility issue.

Which tensorflow version is compatible with magenta-js?

FYI, I used tensorflow 1.4.1 to train the DrumsRNN

[2018-07-13 21:03] adarob opened #107 "Add WebMIDI support for Player"

[2018-07-17 16:32] adarob commented on #106
What is the error that you saw?

[2018-07-18 03:09] naotokui commented on #106
I have a CodePen sketch based on Tero's amazing Neural Drum Machine.

Every time I tried to generate sequences (`sampleRnn()`) using my own model,  I got this error:
`magentamusic.js:45133 Uncaught (in promise) TypeError: Cannot read property 'matMul' of undefined
    at t.sampleRnn (VM510 magentamusic.min.js:7)
    at VM510 magentamusic.min.js:7
    at Object.t.tidy (VM510 magentamusic.min.js:7)

[2018-07-18 03:24] adarob commented on #106
Thanks for pointing this out. There is indeed a compatibility issue due to
a change we made in the Python code. Can you share your checkpoint with me
so that I can make the required changes to magenta.js to support both types
of checkpoints?

On Tue, Jul 17, 2018, 8:09 PM Nao Tokui <notifications@github.com> wrote:

[2018-07-19 00:20] liuxiaozhu opened #109 "How to mirror Checkpoints ?"
When I click the link in `/music/checkpoints/README.md` it returns 404 like this
`https://storage.googleapis.com/magentadata/js/checkpoints/music_vae/trio_4bar`

[code]

[2018-07-19 00:35] adarob commented on #109
Indeed, it does not seem possible to make the file list accessible. I can create a zip of this directory for you. Do you need any others?

[2018-07-19 14:39] naotokui commented on #106
Thank you! here are my checkpoints:
https://www.dropbox.com/sh/84ohnr9ee8yvzvm/AADn70s7HGzcLhQkLAfEaRbna?dl=0

[2018-07-19 15:15] adarob commented on #106
Hi Nao,

Unfortunately I won't be able to look into this until early next week.
If you want something that works before then, it should be possible to
retrain your model with "--hparams=attn_length=0". The resulting checkpoint
should then work, although it may not be perform quite as well without
attention.

-Adam

On Thu, Jul 19, 2018 at 7:39 AM Nao Tokui <notifications@github.com> wrote:

[2018-07-19 19:58] adarob commented on #109
https://storage.googleapis.com/magentadata/js/checkpoints/music_vae/trio_4bar.tar.gz

[2018-07-19 19:58] #109 closed

[2018-08-02 09:11] naotokui opened #113 "magenta.js with tensorflow.js"
I'm trying to use tensorflow.js alongside with magenta.js, to load my custom tfjs model, but it seems there is some compatibility issue.

Here is a codepen to illustrate the issue.
https://codepen.io/naotokui/pen/VBxvvE

I copied Tero Parviainen's pen and added
`<script src="https://cdnjs.cloudflare.com/ajax/libs/tensorflow/0.12.4/tf.min.js">
</script>` to the html file.

Then I hit the generate s

[2018-08-02 15:43] adarob commented on #113
Can you try only importing magentamusic and then using mm.tf?

[2018-08-02 22:58] naotokui commented on #113
I got errors when I tried to use `mm.tf.sequential`, for example.
https://codepen.io/naotokui/pen/EpLjYj

I guess that's because `mm.tf` points `tfjs-core` and `mm.tf.sequential` is in `tfjs-layers`.

[2018-08-02 23:02] adarob commented on #113
Yes, this is a good point. We will need to package the full tfjs and not just tfjs-core for this to work. @cghawthorne @teropa any objections?

[2018-08-02 23:05] cghawthorne commented on #113
Seems reasonable to me.

[2018-08-18 13:45] howardlau1999 opened #127 "How can I download the pre-trained models?"
I would like to download all multi-track pre-trained models, but when I clicked one of the links, it displayed the following error message:
[code]

[2018-08-23 17:41] adarob opened #130 "Add mm.Recorder to record MIDI input with WebMIDI."

[2018-08-23 17:41] adarob opened #131 "Add implementation of Onsets & Frames for Piano Transcription."

[2018-08-23 17:42] adarob opened #132 "Add tests for MusicVAE and MusicRNN models."

[2018-08-23 22:08] adarob opened #134 "Add function to monophonicize a NoteSequence."

[2018-08-24 17:56] adarob commented on #131
#129 is a first step. Need to correct minor discrepancies and add support for raw audio (vs mel spec).

[2018-08-24 18:17] #127 closed

[2018-08-24 22:53] notwaldorf commented on #130
Fixed in https://github.com/tensorflow/magenta-js/pull/133

[2018-08-24 22:55] adarob commented on #130
Reopening to also add recording w/ clicks.

[2018-08-28 17:16] teropa opened #141 "Precision problems in MultitrackConverter on Safari"
I'm getting the following kinds of results for the tokens tensor in  `MultitrackConverter.toNoteSequence` on Safari 11.1 on OS X:

<img width="278" alt="screen shot 2018-08-28 at 20 11 45" src="https://user-images.githubusercontent.com/47968/44738861-d793c180-aafe-11e8-899d-13fcda57eadf.png">

These in turn become pitches like `50.999996185302734` in the `NoteSequence`.

I was able to fix it for m

[2018-08-28 18:19] adarob commented on #141
Aren't the tokens in an Int32Array? When are they getting converted to float?

[2018-08-28 18:27] teropa commented on #141
I think they should be (and the TypeScript type annotation attests this as well), but it's a `Float32Array`. It's also a `Float32Array` on Chrome but there the numbers within are all integer.

What I'm printing is the outcome of

[code]

Adding this didn't change it either:

[code]

[2018-08-28 19:11] adarob commented on #141
@nsthorat @dsmilkov have you seen this before?

[2018-08-28 21:50] nsthorat commented on #141
Yikes, that shouldn't be happening.

Are you using the latest version of tfjs, 0.12.6?

[2018-08-29 06:01] teropa commented on #141
@nsthorat I've found out a minimal reproduction:

[code]

On Chrome yields:

[code]

On Safari yields:

[code]

The behavior is the same on 0.12.5 (which is what Magenta Music is currently on) and 0.12.6.

Curiously, `dataSync` does *not* have this problem - only the asynchronous version.

Want me to report this over on tfjs?

[2018-09-04 21:26] adarob commented on #134
Closed by #147

[2018-09-06 00:51] #134 closed

[2018-09-06 16:47] notwaldorf opened #153 "Add WebMidi polyfill to the recorder demo"
(oops!)

[2018-09-10 20:34] adarob opened #159 "Add global logging lib."
Model it after the OnsetsAndFrames logging with magenta coloring.

[2018-09-12 19:17] #159 closed

[2018-09-13 01:08] lizekui opened #164 "How to download SoundFontPlayer GCS to local mirror ？"
I found a link in code snippet:

`
// Set up SoundFont player.
`
`
const player = new mm.SoundFontPlayer('https://storage.googleapis.com/download.magenta.tensorflow.org/soundfonts_js/sgm_plus', globalCompressor, programMap, drumMap);
`

I am already download pretrained checkpoints file from GCS using scripts given by README, how can I download `https://storage.googleapis.com/download.magenta.tenso

[2018-09-15 23:22] oveddan opened #167 "npm install on osx fails at test # Test MelodyConverterWithPolyphonicInput with an undefined error"
I'm trying to install the packages for the demos.  In the `/music/demos folder I run:

    npm install

then this error shows up:

ok 73 should be equivalent
# Test MelodyConverterWithPolyphonicInput

/Users/danoved/Source/opensource/magenta-js/music/src/protobuf/proto.js:295
                        $root.tensorflow.magenta.NoteSequence.Note.encode(message.notes[i], writer.uint32(/* id 8, wireType

[2018-09-16 03:41] adarob commented on #167
The deps needs to be installed at the base `music` directory. You can go to `music` directory and run `yarn run-demos`. This will also install the deps.

[2018-09-16 03:41] #167 closed

[2018-09-16 17:01] adarob commented on #167
Good call! Do you want to add that? If not, please file a new issue and
I'll do it next week.

On Sun, Sep 16, 2018, 8:21 AM Dan Oved <notifications@github.com> wrote:

[2018-09-17 16:57] adarob commented on #153
Is this done?

[2018-09-17 16:57] #131 closed

[2018-09-17 16:58] adarob opened #168 "Add Demos README and automatically publish demos to github.io with docs."

[2018-09-17 17:56] notwaldorf commented on #153
Yup!

[2018-09-17 17:56] #153 closed

[2018-09-17 19:49] adarob opened #169 "Use only a single .data call in DataConverters to improve performance."

[2018-09-19 19:54] #168 closed

[2018-10-18 22:50] #130 closed

[2018-10-18 23:39] notwaldorf opened #185 "Fix bundling/improve bundling strategy in magenta/music"
Two things:
1. Currently our bundle is broken (symptoms: uglify won't minify it on jsdelivr). Since we added `FFT` (which has es6 code), we don't have anything in the build process to convert that dependecy to `es5` (we use tsify for the ts source but nothing else). Maybe rollup + babel would work?
2. It would be nice to also at this point be able to produce a nice es6 build for modules (since all

[2018-10-23 15:35] nehz opened #186 "transcription/model.d.ts in npm package invalid"
Doing a `npm install @magenta/music` gets the following `node_modules/@magenta/music/es5/transcription/model.d.ts`

[code]

The paths seem to be local dev paths
[code]

[2018-10-23 21:28] notwaldorf commented on #186
Oh that doesn't look good, does it? Taking a look

[2018-10-26 17:39] notwaldorf commented on #186
I think my username is there because I've done the last release, but I'm not sure why it's being resolved to that, since that's not even the signature of the function: https://github.com/tensorflow/magenta-js/blob/master/music/src/transcription/model.ts#L165.

@adarob do you think it's because we don't have explicit `Promise<NoteSequence>` return types on those functions? lemme try and see if that

[2018-10-26 17:47] notwaldorf commented on #186
oh yeah that's totally it! sending a PR now.

[2018-10-26 18:09] notwaldorf commented on #186
Fixed in #187, i don't know why auto closing doesn't work anymore

[2018-10-26 18:09] #186 closed

[2018-11-20 21:55] notwaldorf opened #196 "Add a proper JS class for NoteSequences"

[2018-11-20 22:03] adarob commented on #196
Great idea!

[2018-11-21 22:52] notwaldorf opened #201 "Add support for playNoteDown/playNoteUp to non soundfont players too"

[2018-12-03 20:00] notwaldorf opened #214 "We should update to the latest version of tone"

[2018-12-04 21:43] notwaldorf opened #215 "SketchRNN: the library should expose the list of classes, not the demos"
[This list](https://github.com/tensorflow/magenta-js/blob/master/sketch/demos/interactive_predict.js#L31) should probably checkpoint metadata somewhere, not a copy paste across demos

[2018-12-05 01:06] Gaturae opened #216 "Cannot find namespace 'WebMidi'."
When I start my ng-project, I got a error like this
node_modules/@magenta/music/es5/core/recorder.d.ts(30,22): error TS2503: Cannot find namespace 'WebMidi'.
what`s wrong with my ng-project ,my ng-version is 6.0

[2018-12-06 17:28] notwaldorf opened #218 "Would be nice to add the fetch midi helpers from demos to core."
I have copy pasted these 2 functions more than I've wanted: https://github.com/tensorflow/magenta-js/blob/master/music/demos/visualizer.ts#L60

[2018-12-06 21:29] #218 closed

[2018-12-18 19:28] adarob opened #229 "Upgrade ndarray-resample to avoid security issue"
see https://github.com/scijs/ndarray-resample/issues/3 and https://github.com/scijs/cwise/pull/25

[2018-12-18 22:44] #107 closed

[2018-12-20 23:47] adarob commented on #185
Fixed by #191

[2018-12-21 01:33] notwaldorf commented on #185
This isn’t exactly finished — 191 only fixed the es5 build, but we still only produce one huge es5, non module build.

[2018-12-31 18:10] rogerpasky commented on #214
Yes please, current Chrome version is rejecting to make any sound before some interaction (click) has been done. This makes all demos muted (I checked it in _mm.Player with callback_).

According to the Google Developers referenced documentation this is a new Chrome policy to avoid autoplay.

Tone.js detects some problem and goes mute forever.

This appears to happen in the Tone library initialisa

[2018-12-31 18:38] ToonTalk opened #239 "Exception using Getting Started at https://github.com/tensorflow/magenta-js/tree/master/image"
With the "via Script Tag" sample code on https://github.com/tensorflow/magenta-js/tree/master/image

I see the following exception. But when I remove @^0.1.2 it works.

magentaimage.js:44405 Initialized Arbitrary Style Transfer network
magentaimage.js:3218 Uncaught (in promise) TypeError: Cannot read property 'length' of undefined
    at magentaimage.js:3218
    at Array.forEach (<anonymous>)

[2019-01-02 17:43] adarob commented on #239
Thanks! I updated it to https://cdn.jsdelivr.net/npm/@magenta/image@^0.2.1 can you please re-open if that doesn't work.

[2019-01-02 17:43] #239 closed

[2019-01-03 19:49] adarob commented on #216
Closing this out due to lack of response. Please reopen if needed!

[2019-01-03 21:14] notwaldorf commented on #214
Closing -- I think we're actually on the latest [stable version](https://www.npmjs.com/package/tone)

[2019-01-03 21:14] #214 closed

[2019-01-03 21:15] notwaldorf commented on #214
@tambien `0.12.80` is the latest stable, and you haven't released `@next` (13.x) and it's still in dev mode, right?

[2019-01-03 23:40] tambien commented on #214
@notwaldorf yes still dev, but hoping to find time to make a release very soon.

[2019-01-03 23:43] notwaldorf commented on #214
@tambien cool cool, let us know when it's out and the canaries have survived the mines and I'll reopen this 😂

[2019-01-06 00:19] agreyfield91 opened #242 "Properties of notesequences"
Looking at [docs](https://tensorflow.github.io/magenta-js/music/modules/_core_sequences_.html), I can't find a way to access the properties of a notesequence, like time signature or bpm. Is there a way to access this, or any other properties? Sorry if this is the wrong place to ask.

Thank you!

[2019-01-06 01:48] notwaldorf commented on #242
I think the most complete/accurate list right now is in the protobuf itself: https://github.com/tensorflow/magenta-js/blob/master/music/src/protobuf/proto.d.ts

[2019-01-07 06:54] notwaldorf commented on #242
What kind of properties are you looking for? I think onsets and frames will return a non-quantized sequence, so it should have a startTime/endTime for every note. If you need to quantize it, there’s a helper for that too.

[2019-01-07 17:22] rogerpasky opened #243 "Possible default parameter mismatch at data.ts functions"
As far as I understand, **DEFAULT_QUARTERS_PER_MINUTE** is related to playing tempo, not to **quantizationInfo** resolution, but it's used as default value to fulfill stepsPerQuarter parameter like:

[code]

IMHO it should be replaced to **DEFAULT_STEPS_PER_QUARTER**, as declared in constants.ts

It happens several times through data.ts in following functions:

- DrumsConverter.toNoteSequence()
-

[2019-01-07 17:50] adarob commented on #243
Thanks for noticing this issue! Are you interested in fixing it as well or would you prefer we do it?

[2019-01-07 17:57] rogerpasky commented on #243
To be honest, I've never commited a pull request. Never too late to learn how to. I'd love to contribute to this great project fixing it by myself.

I hope I won't break it all :-D

[2019-01-07 17:59] adarob commented on #243
Go for it! Let me know if you have any questions. You should make sure the tests pass (`yarn test`) and the demos work (`yarn run-demos`).

[2019-01-07 19:53] rogerpasky commented on #243
Changes done, tests done, (my first ever) pull request (learned and) done, CLA signing done, merge done... I'm closing this issue.

[2019-01-07 19:53] #243 closed

[2019-01-07 20:15] agreyfield91 commented on #242
I would ideally be able to get rhythm information such as qpm or time signature from the transcribed sequence. Would quantizing the sequence allow me to access more information?

[2019-01-07 20:49] adarob commented on #242
We don't actually infer qpm or time signature with onsets and frames since we don't know it in our ground truth data.

[2019-01-07 20:49] #242 closed

[2019-01-07 20:51] adarob commented on #242
Note that there are some off-the-shelf methods for estimating tempo, however. For example: https://librosa.github.io/librosa/generated/librosa.beat.tempo.html

[2019-01-09 22:46] rogerpasky opened #246 "Add ScoreVisualizer to display NoteSequences as musical scores in staffs"
Current `Visualizer` class is cool (great job @notwaldorf ), and it could evolve to display sequences not just as pianoroll, but **music staff** as well. A derived `ScoreVisualizer` is proposed.

It must fit current pianoroll functionality in a polymorphic way introducing minimal changes:
- **`constructor(sequence, canvas, config)`** which:
  - Constructs all the internals according to the given c

[2019-01-09 22:50] rogerpasky commented on #246
I propose myself to be assigned to cover this issue.

[2019-01-09 23:06] adarob commented on #246
@notwaldorf can you give any guidance?

[2019-01-09 23:48] notwaldorf commented on #246
This is an awesome idea!
I've actually been thinking of re-implementing the Visualizer with SVGs (and not canvas), and I think it works just as well. I definitely think there could be an option even for the default Visualizer to use SVG -- especially since this would allow CSS animations etc.

Are you planning on showing the notes with a font?

[2019-01-10 11:08] rogerpasky commented on #246
Cool!

Related to SVG re-implementation, I was thinking about require in the constructor just a DIV container and let the implementation do all the magic as internals. This could allow future visualizers to use frameworks like `three.js` or others yet to come. Magenta.js distribution should provide a virtual base clase (`BaseVisualizer` following `player.ts` pattern) and two minimal derivatives (c

[2019-01-10 22:08] notwaldorf commented on #246
I would prefer no breaking changes, if they're avoidable. I think with a little bit of refactoring we could have:
- a BaseVisualizer,
- Visualizer (using canvas, as it is today)
- an SVGVisualizer, using SVG instead of canvas
- a StaffVisualizer (using your implementation).
I know there's not a ton of Visualizers users out there, but any change in API causes friction, and I'd like to save that for

[2019-01-10 22:50] rogerpasky commented on #246
Agreed about avoiding API change frictions. I was wrong. I've thinking about it all day long (I'm in Europe) and there's no need to keep an uniform interface but in virtual functions implementation in derived classes (polymorphism), which excludes constructors (you can construct derivative classes with whatever parameters you want, calling super constructor with the right ones).

I'll do it as you

[2019-01-15 19:50] adarob opened #249 "GrooveConverter tapify should accept any midi input."

[2019-01-17 21:50] #249 closed

[2019-01-19 00:46] agreyfield91 opened #252 "How to have visualizer redraw with different noteSequence"
In the [docs](https://tensorflow.github.io/magenta-js/music/classes/_core_visualizer_.visualizer.html), there is only one method listed for visualizers - redraw(). It looks like its only purpose is to update the visualizer's active note. Is it possible to have it "redraw" with a different ns (so I could perhaps create a visualizer, expand upon the ns with musicRNN, and update the visualizer with t

[2019-01-21 19:54] kadinzhang opened #253 "MusicRNN continueSequence with polyphony"
Experimenting with MusicRNN's continueSequence, the model only continues music with monophonic structure - if I give it a complex piano piece, it will return a very simple, rapid melody. Is it currently possible to get it to continue in polyphonic structure? Am I looking at the wrong model?

Thanks!

[2019-01-23 09:23] rogerpasky commented on #246
Development evolves according to plan. Current state is marked in the original issue proposal list (which has changed to a task list) and actual code can be seen in [my fork repo](https://github.com/rogerpasky/magenta-js).

There has been found another internal issue in the usage of `noteSpacing` configuration variable. It adds an extra space at the end of a note to separate it from the following

[2019-01-23 16:39] rogerpasky commented on #246
Thanks!

I'm trying to stick as close to the current interface as possible and I'll take the freedom degree you just gave me when needed, but not earlier. The `staffVisualizer` is intentionally maintained to get the desired alignment, but as you can see in the early screenshot, first note misses a bit of the extra staff line due to its extreme alignment to the left, so final version will have some

[2019-01-23 18:32] notwaldorf commented on #252
Yeah, destroying the instance and creating the new one is the way to go. Most of the work is done in resizing the canvas anyway, so the constructor isn't that expensive. You don't have to "destroy" it per se, you just have to re-create it. So
[code]

[2019-01-23 18:33] #252 closed

[2019-01-23 20:42] tambien commented on #214
@notwaldorf ready! tone@latest === tone@13.4.9

[2019-02-01 03:44] notwaldorf commented on #246
@rogerpasky I've ended up having *tons* of performance issues recently with mm.Visualizer (all my canvases kept crashing), so I had to skip the line and implement a super quick SVGVisualizer. It's basically 90% similar to the regular one, only overwrites what `redrawNote` does. Let me know what you think!
https://github.com/tensorflow/magenta-js/pull/260/

[2019-02-01 13:44] rogerpasky commented on #246
@notwaldorf your approach is similar to mine, so they will end-up merging very well.

Current status is close to desired MVP as you can see:
![image](https://user-images.githubusercontent.com/3244030/52125787-da568d80-262d-11e9-9da2-94710994e031.png)

(Screen capture appears far much pixelated than the real thing which is vectorial in all its glory)

It only misses rests (hard to think off because

[2019-02-01 14:22] rogerpasky commented on #246
Just had a deeper look to your pull request and realized your class hierarchy is:
* `Visualizer`
  * `SVGVisualizer`

Which differs to the hierarchy we agreed:
* `BaseVisualizer` (only the very common staff and some virtual functions)
  * `Visualizer` (extends BaseVisualizer class but offers exactly the same interface as today)
  * `SVGVisualizer` (extends `BaseVisualizer` class and introduces SVG

[2019-02-01 17:31] notwaldorf commented on #246
Oh right, i forgot that we had talked about a `BaseVisualizer`. I’ll change
that. I think the API for the child classes will basically require
overloading the constructor and `redrawNote`, which is pretty good. Because
of this, I don’t think that the staff visualizer and the svg visualizer
need to be anything more than children. I’ll rename it to
PianoRollSVGVisualizer to be consistent, though
On

[2019-02-01 18:00] notwaldorf commented on #246
So actually, your hierarchy might not be correct. What i've noticed is that 90% of the implementation in the current `Visualizer` is shared across all piano roll visualizers -- the area size calculation, the note positioning, etc. The only thing that changes is that `redrawNote` paints to a canvas or creates an svg. If that isn't the case with your visualizer, then the hierarchy might be more like

[2019-02-01 22:45] rogerpasky commented on #246
I understand you are in a hurry and I'm not. I can spend extra time in refactoring without pain (it is a real pleasure to me to contribute to this project). I'll just keep on going with internal advances and will do the final adaptations once your PR will get approved.

However, just to let you know, I do not redraw all the SVG elements in each `redraw()` call, but only when `activeNote` **is not

[2019-02-01 23:21] notwaldorf commented on #246
Oh interesting. I’ll give this another go with this in mind!
On Fri, Feb 1, 2019 at 2:45 PM Pascual de Juan <notifications@github.com>
wrote:

[2019-02-01 23:40] rogerpasky commented on #246
You can have a look to my code (work in progress) in my [fork repo](https://github.com/rogerpasky/magenta-js) to get inspired.

Enjoy ;-)

[2019-02-04 19:31] notwaldorf commented on #246
Alright, cleaned this up again. I made `redraw` be the abstract function, and tested it on the SVG visualizer that now doesn't redraw at every step.

Still thinking that your staff visualizer should inherit from the `BaseVisualizer` class, however. There's nothing inherently SVG-y about `PianoRollSVGVisualizer`, so I don't think any of its methods will be useful to you. This will also lead to a pr

[2019-02-13 00:30] rogerpasky commented on #246
MVP is operative and looking great (proud of my own 1st class minimalist SVG drawings). Still pending to do:
* some fine-grain pixel-perfect final tuning
* complete detailed documentation
* some initial test code (to validate part of the functionalities)
* final merge to current piano roll `visualizer` PR (just realized it's still work in process)
* the ultimate PR

Next to that I'll keep on doing

[2019-02-18 11:44] TGabor opened #265 "Converting python onset and frames MAESTRO checkpoint to tfjs leads to incompatible model"
Thanks for sharing all these resources with the community!

I tried converting the [OAF MAESTRO checkpoint](https://storage.googleapis.com/magentadata/models/onsets_frames_transcription/maestro_checkpoint.zip) using [checkpoint_converter.py](https://github.com/tensorflow/magenta-js/blob/master/scripts/checkpoint_converter.py):
[code]

Once I use my manually converted checkpoint in [piano-scribe](h

[2019-02-19 17:51] adarob commented on #265
Here you go:

https://storage.googleapis.com/magentadata/js/checkpoints/transcription/onsets_frames_uni/model.ckpt-583632.data-00000-of-00001
https://storage.googleapis.com/magentadata/js/checkpoints/transcription/onsets_frames_uni/model.ckpt-583632.index

[2019-02-19 17:51] #265 closed

[2019-02-20 17:50] TGabor commented on #265
Hi @adarob,

thanks for sharing!

Would it be possible to add the **meta file** for the checkpoint, too?

[2019-02-26 11:39] TimothyRoberts commented on #265
Hi @TGabor,

would you mind explaining why I'm getting this error?

<img width="622" alt="screenshot 2019-02-26 at 11 36 40" src="https://user-images.githubusercontent.com/35260270/53410144-d6aef000-39ba-11e9-91b6-4efb98fa2c6c.png">

I have pip installed tensorflowjs already, does this checkpoint_converter file need to be saved somewhere in particular?

[2019-02-26 12:17] TGabor commented on #265
@TimothyRoberts You either need to change to the `magenta-js/scripts` directory or call `python scripts/checkpoint_converter.py` from the `magenta-js` directory

[2019-02-26 12:50] TimothyRoberts commented on #265
Thank you, sir! I hadn't cloned the magenta-js directory

[2019-03-02 20:34] adarob opened #273 "Add example of how to use your own trained model."

[2019-03-06 11:30] apvilkko opened #274 "Checkpoint downloader script does not work on Windows"
When using the Python checkpoint downloader script on Windows it fails with "Not found".

The url that it tries to fetch is e.g. "https://storage.googleapis.com/magentadata/js/checkpoints/music_vae/mel_4bar_med_lokl_q2\weights_manifest.json". Using `os.path.join` to join url segments results in a backslash on Windows.

[2019-03-06 19:20] #274 closed

[2019-03-07 09:12] curiouscod3 opened #276 "Error: NoteSequence undefined is not quantized (missing quantizationInfo)"
Hi, I've been attempting to understand && test "magenta-js" project.
I've tested the code in ["Making music with magenta.js" page.](https://hello-magenta.glitch.me/#interpolating-between-two-sequences)
Whenever I click the play button("Interpolating between two sequences"),
I've got Error : "Error: NoteSequence undefined is not quantized (missing quantizationInfo)".

Even though I created my own p

[2019-03-07 15:01] N1nJaC0d3 commented on #216
I just installed the latest magentamusic npm package for my Angular project.
I've got same error; I don't use the ts files directly. **In Angular typescript project, I cannot use magentamusic.js script javascript file because Angular needs Typescript and d.ts type file.**

Even though magentajs music core sources are written in Typescript having d.ts, the output files built doesn't look up d.ts co

[2019-03-07 19:07] notwaldorf commented on #276
Yup, you're totally right. Good catch!

I've updated the code sample to quantize the note sequences first, and then interpolate: https://glitch.com/edit/#!/hello-magenta?path=script.js:183:5

[2019-03-07 19:07] #276 closed

[2019-03-07 21:04] NiNJAD3vel0per opened #278 "Uncaught (in promise): ReferenceError: WebMidi is not defined"
I just installed the latest magentamusic npm package for my Angular project.
I've got same error; I don't use the ts files directly. In Angular typescript project, I cannot use magentamusic.js script javascript file because Angular needs Typescript and d.ts type file.

ERROR in node_modules/@magenta/music/es5/core/player.d.ts(51,14): error TS2503: Cannot find namespace 'WebMidi'. node_modules/@mag

[2019-03-07 21:56] notwaldorf commented on #278
I don't think we publish any types with magenta (and honestly, I don't know enough about types to check if we do). @cannoneyed do you have any ideas?

[2019-03-08 07:02] NiNJAD3vel0per commented on #273
Is there any good example how to import and export music sequence data to train my own music in python or tensorflowjs, and how to add my own trained model and use in Magentamusic app ?

[2019-03-08 07:23] NiNJAD3vel0per opened #279 "How to import/export/stream sequence&midi data across the grpc or socket?"
I am attempting to develop a collaboration music app.
WebServer/Browser <--(Bi-direction)--> MobileApp Clients.
I may need streaming method via bi-direction.

Clients apps are not WebBrowser and need some fast seamless connection via grpc or socket.
I am thinking to utilize gRPC because Json with Http1.x is slow and heavy for this; it is not even suitable for streaming. As you know, grpc supports

[2019-03-11 02:36] rogerpasky commented on #246
Pull request done! I'm pretty proud of the result, because it has ended up being functionally more complete than I initially considered for the MVP. It was not as easy as I thought, but effort has been worthy. I hope you like it.

[2019-03-14 16:25] kadinzhang opened #281 "How to use svg visualizer"
I saw that #260 was pushed out to resolve some issues with the canvas visualizer. At the time of me writing this, [docs](https://tensorflow.github.io/magenta-js/music/classes/_core_visualizer_.visualizer.html) haven't been updated - how can I use this mm.PianoRollSVGVisualizer? I tried using the same params as the old Visualizer(), swapping out the canvas element with a generic div, and although i

[2019-03-14 21:25] agreyfield91 opened #282 "How to use MusicRNN continuesequence"
In the [docs](https://tensorflow.github.io/magenta-js/music/classes/_music_rnn_model_.musicrnn.html#continuesequenceandreturnprobabilities), it gives the parameters for continuesequence() as:

 `continueSequence(sequence: INoteSequence, steps: number, temperature?: number, chordProgression?: string[]): Promise<INoteSequence>`.

I'm confused about the temperature and chordProgression parameters, as

[2019-03-18 20:39] notwaldorf commented on #282
First things first, here's an example of using `continueSequence` with both a `temperature` and a `chordProgression` parameter: https://github.com/tensorflow/magenta-js/blob/master/music/demos/music_rnn.ts#L156

- `temperature` is a number that's above 0, and doesn't really have any upper bound. However, anything above 1.5 will essentially result in random results, so you won't see much difference

[2019-03-18 20:42] notwaldorf commented on #281
Sorry about that! We've updated the [docs](https://tensorflow.github.io/magenta-js/music/classes/_core_visualizer_.pianorollsvgvisualizer.html) -- the parameter to the constructor is an `svg` element, not a `div`. Here's a [usage example](https://github.com/tensorflow/magenta-js/blob/master/music/demos/visualizer.ts#L74).

We should probably throw an error if the tag name of the thing you pass to

[2019-03-19 15:58] kadinzhang commented on #281
Sure! That sounds fun. I'll give it a try.

[2019-04-01 12:39] loganstillings commented on #278
I'm also running into this problem. As of now, I cannot use @magenta/music in an Angular app

[2019-04-01 18:26] loganstillings commented on #216
I'm having the same issue and I think this should be reopened

[2019-04-01 18:42] notwaldorf commented on #216
This is a duplicate of https://github.com/tensorflow/magenta-js/issues/278, which is still open (i don't think we need 2 issues with the same content. I've already triaged that one, so going to re-close this one (but please follow  #278 for comments)

[2019-04-01 18:42] #216 closed

[2019-04-12 07:58] rogerpasky commented on #246
Just a friendly reminder about the [Pull Request](https://github.com/tensorflow/magenta-js/pull/280) regarding this very issue @notwaldorf & @adarob

Even though it copes with all requirements, offering a pretty versatile score experience, I'm planning to cover full functionality around summer with note beams (aesthetical enhancement, not functional, thanks to flagged notes current coverage) and t

[2019-04-17 17:16] j0hnm4r5 opened #294 "Midi Import via midiToSequenceProto broken"
This issue actually looks to be a problem with the [midiconvert](https://www.npmjs.com/package/midiconvert) from Tone.js, but I ran into it here.

# Issue
Importing a midi file using `mm.midiToSequenceProto(midiFile)` fails with this error:

[code]

# Solution

`Midi.js` within the package `midiconvert` calls `Decoder(bytes)` from the `midi-file-parser` package (expecting it to be a function), exc

[2019-04-18 15:12] romaincazier opened #296 "Upgrade @magenta/image to tfjs 1.0.x"
Hi,

I was trying to use the [BodyPix](https://github.com/tensorflow/tfjs-models/tree/master/body-pix) model with Magenta but the tfjs version required is 1.0.0. Is it possible to update it ?

Thanks!

[2019-04-18 17:47] BogdanAngh opened #297 "How can I use local soundfonts?"
Hello, I would like to have other instruments for the SoundFontPlayer class, how can I do that? Thank you.

[2019-04-22 16:48] adarob commented on #294
Can you please file a bug against midiconvert and link it to this one so we'll know when to update.

FYI, @tambien

[2019-04-22 17:08] j0hnm4r5 commented on #294
Yep, sorry — should have done that originally.

Here it is: https://github.com/Tonejs/Midi/issues/70

[2019-04-22 17:19] j0hnm4r5 commented on #294
This seems weird — `midiconvert` redirects to `@tonejs/midi` (it doesn't have its own git repo) and it hasn't been updated in over a year. `@tonejs/midi` has the same file structure, but it looks like the buf has been fixed.

I'm still waiting on clarification, but if I had to guess, `midiconvert` was wrapped into `@tonejs/midi` sometime in the past year, and `magenta-js` is still using the old ve

[2019-04-22 17:42] tambien commented on #294
@j0hnm4r5 yeah i did a major refactor a few months ago and released it under a new name. i changed the encoder/decoder and how it is being imported, so this issue might not be relevant any more to the latest version.

[2019-04-23 01:53] mrbombmusic opened #299 "MusicVAE adding extra note onto end of 2nd original melody and other melody interpolations"
Hello,

I recently started playing with the MusicVAE model to create melody interpolations between two melodies. I started by following this tutorial: https://glitch.com/~hello-magenta

However, after the model has run and the melodies and interpolations are created, I noticed that the 2nd original melody now includes an additional note at the end with a duration much longer than any of the other

[2019-04-23 17:22] notwaldorf commented on #296
Yeah, let me take a look at this today!

[2019-04-23 20:45] notwaldorf commented on #296
Update: so unfortunately while updating to 1.0.x is fine, this breaks `browserify` with this error:
[code]

I think we have to update to using `webpack`, like we did for `@magenta/music`

[2019-04-23 21:26] romaincazier commented on #296
I hit the same wall at some point, I (blindly) tried things but my knowledge is pretty limited here...

Thank you for looking at it!

[2019-04-25 09:56] Buddhilive opened #300 "Uncaught error in MusicRNN"
My app hosted [here](https://ai.buddhilive.com/studio/) throws this exception. I was working fine until today.

C:\fakepath(57,12-37): error X4505: maximum temp register index exceeded
......

music@^1.0.0:22 Uncaught (in promise) Error: Failed to link vertex and fragment shaders.
    at jr (music@^1.0.0:22)
    at t.createProgram (music@^1.0.0:22)
    at music@^1.0.0:22
    at music@^1.0.0:22

[2019-04-25 16:40] Buddhilive commented on #300
Okay, I found the solutions. The problem is with the latests version of Majenta.js 1.8.0
I specified version 1.7.0
Bingo it works!

[2019-04-25 16:40] adarob commented on #300
Great!

[2019-04-25 16:40] #300 closed

[2019-04-25 16:41] Buddhilive commented on #300
Okay, I found the solutions. The problem is with the latests version of Majenta.js 1.8.0
I specified version 1.7.0
Bingo it works!

[2019-05-02 04:15] adarob opened #301 "Changing tempo on playback of unquantized sequence screws up callback"
I found that if you reduce the tempo in https://glitch.com/edit/#!/groove-drums, the loop cuts out early. I believe it has something to do with the callback length being defined using totalTime before the transport begins.

[2019-05-02 04:16] notwaldorf opened #302 "Groove returns a note sequence that doesn't have tempos set correctly"
It seems that if I do:
[code]
This throws a `Uncaught Error: NoteSequence must have exactly 1 tempo at time 0"` on the last line. We probably should set the tempos correctly.

[2019-05-02 04:32] adarob opened #303 "Add support for GrooVAE infilling"

[2019-05-02 19:44] #302 closed

[2019-05-04 05:33] mattetti commented on #56
I run into the same issue, I hacked tone.js to bypass the issue but it would be nice if the core classes weren't depending on the browser

[2019-05-04 05:40] mattetti opened #306 "can't use the demo code from node"
I was trying to use the transcriber from the command line to test things faster and create an interesting pipeline. The demo has some really useful code in it but I'm having issues running things directly from node. There is an open issue about tone but that aside, I've encountered another issue, this time with `ndarray`. It might be a simple setting on the ts compiler but I'm stuck:

[code]

Ther

[2019-05-06 03:35] mattetti commented on #282
I was looking for an easy PR to get myself familiar with the code base and processes. Thanks @agreyfield91 for the opportunity and I hope it will help future developers taking a look at this model.

[2019-05-06 03:42] mattetti commented on #279
I think what you're looking for is in `midi_io.ts` https://github.com/tensorflow/magenta-js/blob/master/music/src/core/midi_io.ts#L38 You will find there a MIDI to proto's sequencer converter and vice-versa. Your server application could receive MIDI data and convert it on the fly or you could build a proto object yourself. The master proto file is available in the main magenta repo: https://githu

[2019-05-06 04:00] mattetti commented on #294
It looks like we need a new issue to upgrade the tone.js dependency (currently set to "tone": "^0.12.80" when the latest version is 13.4.9 (the currently locked version is more than a year old)

https://www.npmjs.com/package/tone

[2019-05-06 04:24] mattetti opened #308 "suggestion: vscode workspace settings"
As a first time contributor, I noticed that my prettifier and TS autoformat weren't compatible with what the authors have used. It would be nice to have a set of standards so anyone contributing wouldn't have to guess the code style guide. Not everyone uses VSCode so maybe also have some sort of "prettier settings" available across editors/IDEs might be nice.

[2019-05-06 07:42] notwaldorf commented on #294
Unfortunately last time I tried to upgrade to tone 13.x, it broke all the Players 😭. @tambien, did you ever figure out why that was?

[2019-05-06 18:07] adarob commented on #56
@tambien is there a better solution for this now?

[2019-05-06 18:13] mattetti commented on #56
@adarob that was actually fixed in a newer version of tone.js https://github.com/Tonejs/Tone.js/blob/c023181579d55bac110b9d369f79aa5acd275499/CHANGELOG.md#1349

Unfortunately there seem to be some issues upgrading to the latest version as per #294

I can't promise anything but I might going to try to upgrade tone as a way to learn more about the internals of this project. I might get stuck quickly

[2019-05-06 18:17] mattetti opened #309 "update tone.js dependency"
A few issues are related to the fact that this project relies on a old version of tone.js which was since improved and bugs/dependencies fixed. https://github.com/Tonejs/Tone.js/blob/c023181579d55bac110b9d369f79aa5acd275499/CHANGELOG.md#1349

#56 #294 should all be fixed if we can update tone.js @notwaldorf mentioned issues trying to update so it might be trickier than it sounds.

[2019-05-07 19:04] #282 closed

[2019-05-07 19:11] notwaldorf commented on #309
Ok, so I tried this again, and wanted to leave some more details, for posterity. I tried updating to `13.4.9`. If you build the demos and go to `player.html`, this is what I see:
- trying to play a note sequence starts somewhere off (like, at the 3rd note, not the first one). Stopping the player at this point doesn't always completely stop it, and sometimes leaves the last note that was playing he

[2019-05-07 19:15] tambien commented on #309
i think my suggestion would be to try to decouple the players from the Transport. it should be possible to use Tone.Clock in a similar way as you're currently adding things to the Transport, but it would require a bit of reworking. Also for shorter segments, you could just schedule all of the notes upfront instead of playing them through the Tone.Part callback (for sections that are a few minutes

[2019-05-07 19:15] notwaldorf commented on #309
Also, on that demo page I still see 260+ `AudioContext` warnings in Chrome, that come from inside of Tone.js (it looks like Tone is very aggressively trying to start the AudioContext without any user interaction, which doesn't fly. It's not a problem, it's just a very spammy console warning, i guess

[2019-05-07 19:16] notwaldorf commented on #309
@tambien I'd loooove if you could take a look instead of me because I'm 100% going to break this.

[2019-05-07 19:20] notwaldorf commented on #308
It looks like we're using `clang-format` (with the "Google" style guide, [see here](https://github.com/tensorflow/magenta-js/blob/master/music/.vscode/settings.json#L23)) for the prettify/autoformat rules. I think that's a separate beast to `prettier`, but if the Google style guide exists as a `prettier` config, we could probably add it.

[2019-05-07 20:04] notwaldorf commented on #281
This was fixed in https://github.com/tensorflow/magenta-js/pull/291

[2019-05-07 20:04] #281 closed

[2019-05-07 20:47] mattetti commented on #308
prettier seems to have become the standard according to this npm trend chart: https://www.npmtrends.com/beautify-vs-clang-format-vs-prettier but it looks like Google already has a style guide set of tools to handle this very use case :)
https://github.com/google/gts

Let me know how you feel about it and I'd be glad to set it up.

[2019-05-07 21:12] mattetti commented on #308
Another simpler option is to add the information in the README: install 'clang-format' (via brew for and chocolatey or whatever the Windows recommended way is) then install the editor plugin.

It's not that bad actually, if I had known that was the process, I would have done it.

I think I'd still personally prefer the gts approach, especially if the dependency is only a dev dependency (which I as

[2019-05-08 01:28] mattetti commented on #309
I took a quick uneducated look and while I don't see the `AudioContext` errors going to http://localhost:8080/player.html using the latest tone.js, I do noticed that the base player sequence starts off and there are a lot of clicks. The sequence once played out is fine again but the clicks are still there. I decided to download the MIDI and surely enough the sequence conversion is off now:

![imag

[2019-05-10 17:48] adarob commented on #309
Thanks so much for helping with this Matt!

*From: *Matt Aimonetti <notifications@github.com>
*Date: *Tue, May 7, 2019 at 6:28 PM
*To: *tensorflow/magenta-js
*Cc: *Subscribed

I took a quick uneducated look and while I don't see the AudioContext

[2019-05-11 04:33] mattetti commented on #309
Apologies for the delay, I caught a cold and spent my free time in bed trying to recover 🤧 I still see this task as a key element to unlock of lot of things beyond the bug fixes. I'm not giving up 💃

[2019-05-15 05:39] mattetti commented on #309
I did some digging and while I haven't found a fix yet, here is some interesting information.

tl;dr: the problem seems to be related to the way the player sets up/retrieves or uses Tone's polyphonic synth. Something in Tone changed in the way our use cases breaks the current behavior. The good news is that the problem is quite isolated, the bad news is that we can't write unit tests for it and it

[2019-05-16 19:01] notwaldorf opened #315 "mm.blobToNoteSequence doesn't reject on errors correctly"
We need to try/catch this line and reject on errors: https://github.com/tensorflow/magenta-js/blob/master/music/src/core/midi_io.ts#L226

[2019-05-21 05:00] mattetti commented on #309
@tambien any chance you have an idea what might be going on?

[2019-05-23 14:31] jakobsudau commented on #56
Hello! I am also interested in a version without the Tone.js dependency, trying to get magenta.js working on a node server (since some heavy generating tasks block the rest of the web app).
Anybody know any workaround or solution for this?

[2019-05-23 18:36] tambien commented on #294
The issue with the upgrade seems to be that the PolySynth sustains and glitches out for the first note when it's played. This seems to be because the synth is created directly before it's used. If you instead create it in the constructor initialization, this seems to fix the issue. i'll send a PR with some suggested changes hopefully today.

[2019-05-23 19:49] tambien commented on #56
@jakobsudau i've gotten around this problem in the past by just deep-requiring the individual resources that i need. but the references to the window and AudioContext should be fixed when the upgraded version of Tone is merged.

[2019-05-24 07:08] jakobsudau commented on #56
@tambien thanks for your reply! I will look into that and hope that your pull request [#316](https://github.com/tensorflow/magenta-js/pull/316) will get merged soon 😊

[2019-06-03 20:46] Seanitzel commented on #297
I would also be more than happy to know!

[2019-06-18 14:21] adarob commented on #299
Hey, thanks for reporting this. Unfortunately it's quite difficult to diagnose. It *could* be a bug in the DataConverter code, or it could just be an artifact introduced by the model. Maybe you could try using one of the other pre-trained melody checkpoints to see if you get similar behavior?

[2019-06-18 14:35] adarob commented on #253
Unfortunately we haven't added any polyphonic models to Magenta.js yet! It should be fairly easy to do but we're all so busy! We already have #26 which will cover it, so I'm closing this one out.

[2019-06-18 14:35] #253 closed

[2019-06-19 02:10] mrbombmusic commented on #299
Thank you. I tried several of the different melody checkpoints and did not get the same behavior.
So it appears the issue was with the checkpoint - mel_16bar_small_q2.
Perhaps it being a 16 bar model made it add those notes to fill out some beats to get it closer to that amount of time ? ¯\_(ツ)_/¯

Thanks again for the help.

[2019-06-19 02:10] #299 closed

[2019-07-19 09:06] teropa commented on #56
With tensorflow/tfjs-core#1771 it should soon be possible to run TensorFlow.js in Web Workers, also allowing Magenta.js models to run off the UI thread, which'll be great for interactive applications.

This'll be easier to do if there's a library free of dependencies to any AudioContext or UI stuff. Perhaps separate "core" and "full" packages would be the way to go? The full being the current batt

[2019-07-20 06:13] mattetti commented on #56
@teropa I agree, and ideally we could provide some sort of interface/adapters so one can bring their own player/lower level audio implementation.

[2019-07-23 07:07] teropa commented on #56
We're successfully running Magenta models in Web Workers with a custom library build that has the following changes applied:

* Excluding `./player`, `./recorder`, and `./visualizer` from the exports. This leaves out Tone and UI code.
* Lazily initialising `AudioContext` in `audio_utils.ts`. AudioContexts are not available in workers so if we try to initialize one on the top level, the library won

[2019-07-23 16:14] notwaldorf commented on #56
Honestly, my dream here is to not vend another  monolithic music library,
but have it split in small ones (we started towards this when we added
webpack and never got far)

Like, you should be able to use a magenta model without also having to
download Tone, the players, the other models, etc. I think several build
artifacts might be a little out of scope right now since it’s most likely
going to

[2019-07-23 20:54] tambien commented on #56
Haven't done a ton of research into this, but shouldn't tree-shaking remove the need for splitting apart @magenta/music into multiple packages?

In an ideal world `import { Coconet } from @magneta/music` would only pull in just the model and it's dependency files, so if that model didn't rely on anything with Web Audio / Tone.js, then it wouldn't be compiled into your code. In practice i've found

[2019-07-25 05:28] teropa commented on #56
I agree tree-shaking should take care of this for any app that uses a bundler.

My use case was to have something to load into a Worker with [importScripts](https://developer.mozilla.org/en-US/docs/Web/API/WorkerGlobalScope/importScripts), and that required us to do a custom build right now.

[2019-07-26 23:46] chrisdonahue opened #324 "GANSynth error on call to initialize"
On Ubuntu 18.04 and Windows 10 I am getting an error from both Chrome and Firefox when I try to initialize GANSynth. I've tried both `@magenta/music 1.8.0` and `1.9.0`

[code]

Hosted example: https://congruous-butter.glitch.me/

[code]

[code]

[2019-08-05 22:02] #309 closed

[2019-08-08 17:25] cannoneyed opened #329 "Clicks / pops in the SoundFont player introduced by Tone r13"
Sadly, it looks like the upgrade to Tone.js 13 in https://github.com/tensorflow/magenta-js/pull/326 has introduced some clicks/pops in the SoundFont player. It's a little harder to notice than the same issues that were present in the PolySynth player, but they're there nonetheless....

@tambien Do you think this might be as simple to fix as the Polysynth pops? Hopefully I can take a look later thi

[2019-08-08 18:01] notwaldorf commented on #308
@mattetti i think for now documenting the existing process is the easiest and safest thing to do. if you want to send a PR for that, i'd gladly accept it!

[2019-08-08 20:20] tambien commented on #329
If it's the same issue as the PolySynth, it had to do with [a bug in Chrome](https://bugs.chromium.org/p/chromium/issues/detail?id=990393) with scheduling envelope. If there are not the same pops on FF and Safari, i'd say it might be related to that.

[2019-08-08 20:42] cannoneyed commented on #329
@tambien Nope! It's just a small regression in supplying a fadeOut to a `BufferSource`, fixed:

https://github.com/tensorflow/magenta-js/pull/330

[2019-08-11 15:09] #324 closed

[2019-08-19 17:09] notwaldorf commented on #329
Fixed in #330

[2019-08-19 17:09] #329 closed

[2019-08-19 17:11] notwaldorf commented on #294
Good news: we've updated Tone to 13.x! I'm going to optimistically close this as "fixed", but if it's still borked, please re-open it!

[2019-08-19 17:11] #294 closed

[2019-08-19 17:33] notwaldorf commented on #56
Alright so I've been looking into this, and we ship the exploded build to npm (https://www.jsdelivr.com/package/npm/@magenta/music?path=es5). Has anyone tried using an `import` for just the model they want (sans Tone.js), for example (something like `const mvae = require("@magenta/music/es5/music_vae");`?

I know it's in es5 and that sucks; working on publishing the exploded build to es6 as well.

[2019-08-28 19:54] #315 closed

[2019-08-29 19:08] #132 closed

[2019-09-03 16:46] notwaldorf commented on #185
Fixed by #337

[2019-09-03 16:47] #185 closed

[2019-09-09 21:34] notwaldorf commented on #306
Closing, as this is an old issue with no repro steps (also, referencing the tone.js issue, which we fixed). Please re-open if you have more details!

[2019-09-09 21:34] #306 closed

[2019-09-09 21:50] notwaldorf commented on #297
I'm not suuuper familiar with this code, but by looking at the [SoundFont player code](https://github.com/tensorflow/magenta-js/blob/master/music/src/core/soundfont.ts#L99) and our soundfonts, it looks like it's first looking for a `soundfont.json` file to get the list of instruments in that sound font, and then for each instrument, an 'instrument.json' file in the folder with that name. For examp

[2019-09-10 20:54] #297 closed

[2019-09-12 02:43] classam opened #351 "Having trouble getting the node example working."
I've made a few small changes to the node example to get it working:

[code]

When I try to run this, though, I get the following error:
[code]

Or, to get to the juicy bits:

`(node:5348) UnhandledPromiseRejectionWarning: Error: Chord progression expected but not provided.`

... should I be providing a chord progression to something? I tried shouting the words "chord progression" at the sky to no

[2019-09-12 02:54] HarounAns commented on #351
I think it has something to do with that specific checkpoint. Try a different one.

[2019-09-12 03:14] classam commented on #351
ayrp, that totally worked

[2019-09-12 03:21] HarounAns opened #352 "React App Magenta Error × Unhandled Rejection (Error): slice() does not support negative begin indexing"
I'm having this issue when yarn installing the magenta libraries and trying to use them with my react app:

[code]
![image](https://user-images.githubusercontent.com/20847319/64751682-ed4a0e00-d4ea-11e9-931a-459a004d5f6b.png)

The code is reproduced below:
[code]

[2019-09-12 05:51] notwaldorf commented on #352
I think I merged a PR to fix this in master, but haven’t released a new release! Will do so tomorrow.

[2019-09-12 05:51] notwaldorf commented on #351
Great, glad it’s sorted!

[2019-09-12 05:51] #351 closed

[2019-09-14 04:18] HarounAns commented on #352
Did you release it yet? Its still running into the same hour

[2019-09-18 08:16] curiouscod3 commented on #80
This issue is still happening

[2019-09-18 08:19] curiouscod3 opened #356 "ERROR in ./node_modules/@magenta/music/es6/index.js Module not found: Error: Can't resolve 'tf'"
I am using magenta-js for my Angular(ver. 8) project.
I am pretty sure that I've installed dependencies required.
I got this error.
**"ERROR in node_modules/@magenta/music/es5/coconet/model.d.ts:21:77 - error TS2307: Cannot find module '../protobuf/proto'."**

When I inspect the node_modules, @magenta/music has es5 and es6 folders.
I changed some in package.json from es5 to es6
`  "main": "es6/ind

[2019-09-18 08:42] curiouscod3 commented on #356
I found a quick dirty solution for my Angular project; however, I don't recommend this .
**"add paths for the tf in tsconfig.json"**

The previous magenta-js version(1.15) only had es5 folder.
Current version has two different versions es5/es6; I think this is the main key of this issue to resolve this.

[2019-09-18 17:28] notwaldorf commented on #356
Can you show me how you're importing this maybe? I haven't modified the es5 folder in any way, so if you were having problems before, you will still have problems now. If you're using the es6 folder, then you have to import the Tone/TF dependencies yourself, like in this example: https://github.com/tensorflow/magenta-js/blob/master/music/README.md#using-a-smaller-es6-bundle-for-just-the-code-you-n

[2019-09-18 17:28] notwaldorf commented on #352
I released 1.11.1 this week -- can you double check if this works for you now?

[2019-09-18 17:51] curiouscod3 commented on #356
As I said, I am using Angular(v8) framework. This framework has own dependency mechanism unlike other frameworks or vanilla javascript.

Actually, I used to work a magenta-js project with Angular(v7) + magenta.js(1.5.0 ver.).
There was no problem. As you know, in the previous version of magenta.js, there was only one folder(es5); there was no es6 folder.

Since I am using Angular(ver. 8) + new mag

[2019-09-18 18:01] notwaldorf commented on #356
I can add those paths to the tsconfig! Lemme check locally to make sure nothing bad happens if i do that

[2019-09-18 18:03] curiouscod3 commented on #356
@notwaldorf  I put the paths in my Angular's tsconfig.json, not in @magenta/music.

[2019-09-18 18:04] notwaldorf commented on #356
Oh, my bad. Unfortunately I don't know anything about Angular, so I don't know how to fix it! Do you have any ideas?

[2019-09-18 18:15] curiouscod3 commented on #356
In the Angular side, I can fix like this. For the better way, @magenta/music package should provide itself automatically.  Why don't you put the paths in magenta.js  project?  You can give it a try.

[2019-09-19 09:44] curiouscod3 commented on #356
@notwaldorf
Could you change the package.json like this?
Because I get this Error
**`es5/coconet/model.d.ts:21:77 - error TS2307: Cannot find module '../protobuf/proto'.`**

[code]

[2019-09-20 20:33] royleibov opened #359 "ERROR Uncaught TypeError: n.playNote is not a function"
When trying to run a basic player

[2019-09-20 20:38] notwaldorf commented on #359
Do you have some more details about how you're calling this? Which version of magenta-js? The player demo still works (https://tensorflow.github.io/magenta-js/music/demos/player.html), so I think you're calling `player.start(someNoteSequence)` a bit funky.

[2019-09-21 11:44] royleibov commented on #359
Decided to try a basic approach.. I basically copied the [hello magenta](https://hello-magenta.glitch.me/) example but it seems to produce the same error.

[code]

Edit: After playing around i figured the problem was with the constructor. It all got fixed once I added the callbackObject like this
[code]

[2019-09-21 11:44] #359 closed

[2019-09-26 00:14] notwaldorf opened #363 "Code cleanup: Replace a bunch of console.logs with core.log"
That way users could turn off a bunch of noise (the most annoying culprit is the Soundfont player)

[2019-10-01 17:04] notwaldorf commented on #356
I think this should be fixed by https://github.com/tensorflow/magenta-js/pull/365

[2019-10-01 17:48] notwaldorf commented on #356
I released 1.11.3 which should have a fix for this. I also made an example repo to test it: https://github.com/notwaldorf/example-magenta-in-ts

[2019-10-01 17:48] #356 closed

[2019-10-01 18:36] notwaldorf commented on #352
Closing, this should be fixed with that release

[2019-10-01 18:36] #352 closed

[2019-10-03 17:09] naclcaleb commented on #363
I can take this

[2019-10-03 17:15] naclcaleb commented on #363
Do I simply replace all the `console` s with `core`?

[2019-10-03 17:16] naclcaleb commented on #363
Or do I have to import that from somewhere?

[2019-10-03 17:24] notwaldorf commented on #363
There's a `logging` module under core (`core/logging.js`). Here's an example of how it's used: https://github.com/tensorflow/magenta-js/blob/master/music/src/transcription/model.ts#L119

[2019-10-03 17:29] naclcaleb commented on #363
Yea, I just realized that. I'm creating a pull request now...

[2019-10-08 21:43] notwaldorf commented on #363
Fixed by #367

[2019-10-08 21:43] #363 closed

[2019-10-10 18:10] notwaldorf commented on #278
I've made some changes to the es6 modules in https://github.com/tensorflow/magenta-js/pull/365 and i think it should work better now. I've tested it out in this repo: https://github.com/notwaldorf/example-magenta-in-ts. I know it's not Angular, but it is using Typescript, and I could repro this problem in that repo. Give it a try and let me know!

[2019-10-12 19:37] strugglebugs opened #371 "GANSynth Magenta Demo -- Attribute Import Error"
Hello,
When running the Jupyter notebook for GANSynth's demo, I'm seeing the following error during environment setup:

[code]

I tried environment setup using a GPU and both Python 2 and 3. I figure there's something going on with respect to the version of tensorflow being used/package deprecation.

I am able to run other demo notebooks without issue (i.e. Transformer, Onsets and Frames).

[2019-10-30 23:00] #308 closed

[2019-10-31 20:46] cifkao opened #380 "`run` callback called after `Player.stop()`"
`SoundFontPlayer` sometimes continues the playback for a very short time (invoking the `run` callback) after the `stop` method has been called. This typically happens when there is a rapid sequence of notes.

This can cause problems for example when using the player together with a `Visualizer` and trying to `clear` it or display something else on the same canvas immediately after calling `stop`.

[2019-10-31 20:56] notwaldorf commented on #380
Oh, interesting! I think the fix might be to also check whether the `this.currentPart` is still defined when executing the run callback: https://github.com/tensorflow/magenta-js/blob/master/music/src/core/player.ts#L164

Do you have a midi file that reproes this reliably? Maybe a small code sample or something on Glitch or JSBin that I could run? Since I don't know how to cause this to happen, I d

[2019-10-31 21:36] cifkao opened #381 "Channel 10 incorrectly loaded as drums"
`midiconvert` used by Magenta.js seems to consider both channel 9 and 10 as drums (as per General MIDI 2), so when loading a MIDI file with `urlToNoteSequence`, notes in channel 10 will have `isDrum == true`. This is inconsistent with the behavior of Magenta, where only channel 9 is loaded as drums (as per General MIDI).

Among other things, this means that MIDI files created with Magenta and cont

[2019-10-31 21:42] notwaldorf commented on #381
cc @tambien for midiconvert.

[2019-10-31 21:51] cifkao commented on #380
Here is one such file: [playback_test.mid.zip](https://github.com/tensorflow/magenta-js/files/3795928/playback_test.mid.zip)

[2019-10-31 21:57] cifkao commented on #380
...unless someone decides to call `start` again with a different sequence immediately after calling `stop`.

[2019-11-01 01:37] notwaldorf commented on #380
That wouldn’t be any different than how it is today though, is it? Also
sounds a bit unsupported — you should stop a player before you start it
again (we can add stronger words in the docs for this)

On Thu, Oct 31, 2019 at 2:57 PM Ondřej Cífka <notifications@github.com>
wrote:

[2019-11-01 20:51] tambien commented on #381
Seems related to: Tonejs/Midi#75

[2019-11-01 22:15] cifkao commented on #381
The relevant check seems to be here: https://github.com/Tonejs/Midi/blob/4312333940fbe477a0a148120d90df8ef347d5f9/src/Instrument.ts#L65-L68

In contrast, `pretty_midi` (used by Magenta) just checks for channel 9:
https://github.com/craffel/pretty-midi/blob/78e33ab1c24e1156529320ea127dd51d57f7ab99/pretty_midi/pretty_midi.py#L265

I think the latter is what most MIDI files seem to use. So probably t

[2019-11-02 11:18] cifkao opened #385 "Visualizing sequence while playing pre-synthesized audio"
It would be useful to be able to supply an audio version of a NoteSequence (either pre-rendered using better quality sound fonts or a recording to which the NoteSequence is aligned, for example to showcase a transcription algorithm) and play it while visualizing the NoteSequence.

I can imagine an `AudioPlayer` which would play the audio using Tone.js and call the `run` callback in sync. An intere

[2019-11-03 16:24] tambien commented on #381
not sure how that got in there, but just changed it to only channel 9. fix should be live in @tonejs/midi@2.0.11

[2019-11-14 23:39] notwaldorf commented on #385
If I understand what you're asking, this has the prerequisite of being able to transcribe arbitrary audio to a symbolic music representation (so that you know what notes you have to paint at a particular time). This is actually a hard research problem! The Onsets and Frames model helps transcribe piano audio to MIDI (and therefore NoteSequences), but it doesn't work currently in real time, so you

[2019-11-14 23:40] notwaldorf commented on #371
@jesseengel I think this should probably be in tensorflow/magenta, but cc-ing you here just in case

[2019-11-15 00:57] jesseengel commented on #371
Yup, this was fixed a couple weeks ago.

[2019-11-15 00:57] #371 closed

[2019-11-15 08:46] cifkao commented on #385
Ah, sorry for not being very clear. My use case would be to pre-render a `NoteSequence` offline using my own sounds (no problem there) and then play that audio in the browser while having the visualizer updated according to the original `NoteSequence`. I think this could be a good solution if your `NoteSequence`s are static and contain a lot of different instruments.

But I thought it could also b

[2019-12-09 18:08] dubreuia opened #386 "Support web workers for gansynth.js"
I can use web workers in the following code:

**simple.html**
[code]

**simple.js**
[code]

Which works properly. But if I add the following line, the code breaks:

[code]

With this error:

[code]

I don't have more information, I'll try to debug the gansynth.js code if I have time.

P.S. ES5 modules don't work because of "This browser does not support Tone.js".

[2019-12-12 09:57] shanjgit opened #387 "How to calculate the scale_factor for sketch-rnn dataset?"
As the document says,

I thought the scale_factor should be the std value of all the offset data in a class. However, checking the the std value of the `bird.full.npz` dataset and the scale_factor in [bird.gen.json](https://storage.googleapis.com/quickdraw-models/sketchRNN/models/bird.gen.json), I found they are different (41.006386 - 71.3754).

How can I calculate the correct scale_factor?

[2020-01-08 19:34] notwaldorf commented on #385
I'd love to see an example of it! I'm still not super clear about how you can sync an audio to the note sequence, but that's 100% because i haven't looked into the <audio> element at all.

[2020-01-14 17:46] deltonvaz opened #393 "Export STFT?"
Hello!

I have a project and I need to use the [Short Term Fourier Transform](https://tensorflow.github.io/magenta-js/music/modules/_core_audio_utils_.html#stft) directly but I noticed that despite being the documentation I cannot use it. Would it be possible to export the function so that it could be used? Or is there another way to access it that I'm not seeing?

Thanks õ/

[2020-01-27 18:30] notwaldorf opened #394 "Add a way to "fast forward" in a NoteSequence"
Either to a specific `startTime` or `quantizedStartStep`.

[2020-01-27 18:32] notwaldorf commented on #394
One bad way to do this would be to recreate the sequence starting from that step but i think that is Very Bad.

@tambien do you know how I could tell a magenta mm.Player (and therefore a Tone.js loop) to like...advance the time?

[2020-01-30 10:37] ismazmerli opened #395 "Checkpoints unavailable"
Hi are the checkpoints still available to download because I ha an issue with the urls they are supposed to be on :

![image](https://user-images.githubusercontent.com/45600611/73442189-9c7d6980-4354-11ea-9dc3-ca9e0eeb76b5.png)

[2020-01-30 19:09] notwaldorf commented on #395
You can't download the checkpoint just from going to that URL. You can either create a model that uses it:
[code]
or using the [checkpoint_downloader.py](https://github.com/tensorflow/magenta-js/blob/master/scripts/checkpoint_downloader.py) script

[2020-01-30 19:10] #395 closed

[2020-01-31 14:51] ismazmerli commented on #395
Hi Thanks for your help ! I managed to download the checkpoint !
But it doesn't seem to work when I want to run locally in a js script :
const model = new mm.OnsetsAndFrames("path/to/chekpoints");

Here are the chekpoint downloaded in a local folder.
![image](https://user-images.githubusercontent.com/45600611/73548677-7d103a80-4441-11ea-96c5-ea0f28fad8c7.png)

[2020-02-04 19:18] adarob commented on #395
The script should have also downloaded 2 additional files which are missing in your directory listing: `weights_manifest.json` and `config.json`.

[2020-02-10 19:42] gelampr opened #401 "How to use magenta-js with my own checkpoint or a downloaded one ?"
I converted my own .mag file and got a folder containing a weights_manifest .json and .bin files .

I also downloaded a pretrained checkpoint and got the same type of files plus a config.json .

Is it possible to change the link inside the javascript part of an html file, lets say :

const musicvae = new mm.MusicVAE("https://storage.googleapis.com/" +
            "magentadata/js/checkpoints/music_

[2020-02-11 08:38] gelampr commented on #401
OK, it worked :) Pointed that folder as:
const musicvae = new mm.MusicVAE('https://127.0.0.1/MUSIC/site01/trio4bar');

[2020-02-11 19:40] notwaldorf commented on #394
Oh! `mm.Player.tone.Transport.seconds = 2.3` is what we want!

[2020-02-11 19:40] notwaldorf commented on #401
Yup, that's exactly what you need to do! Glad you sorted it out!

[2020-02-11 19:40] #401 closed

[2020-02-17 11:49] cifkao opened #403 "Multiple players getting mixed up"
Multiple players on one page don't seem to play well with each other. For example, in the `callback_player` demo, try clicking "play twinkle with click" first and while it is playing, click "play teapot without click". The following happens:

- When the first player stops, the other one stops as well. However, only the callback for the first player gets called.
- If you click "play twinkle with cl

[2020-02-18 18:06] notwaldorf commented on #394
Fixed by #402

[2020-02-18 18:06] #394 closed

[2020-02-18 19:03] #380 closed

[2020-02-20 21:15] notwaldorf commented on #393
Oh yeah, I think we can do that! Going to send a PR out today

[2020-02-20 21:27] notwaldorf commented on #386
I think the only big difference between the music_vae and gansynth models is that gansynth does a lot of audio work that needs an `AudioContext`, and I don't think that works in a WebWorker (but could maybe work in an AudioWorklet? I'm not very familiar with that spec). So unfortunately, I don't think that gansynth will work in a worker :(

[2020-02-20 21:27] #386 closed

[2020-02-20 21:28] notwaldorf commented on #278
Closing this, since I think it was fixed and there's been no updates on this issue

[2020-02-20 21:28] #278 closed

[2020-02-20 21:28] notwaldorf commented on #381
I think this should be fixed, then!

[2020-02-20 21:28] #381 closed

[2020-02-20 21:29] notwaldorf commented on #246
This was merged, so closing this! 🎉🎉🎉

[2020-02-20 21:29] #246 closed

[2020-02-20 21:31] notwaldorf commented on #103
This issue is very old and we couldn't repro it, so I'm going to close for now. Please re-open a new one with more details/repro steps if it's still important and happening!

[2020-02-20 21:31] #103 closed

[2020-02-20 21:32] notwaldorf commented on #141
Closing this as we've switched to tfjs 1, which may or may not have fixed it. Please re-open a new one with more details/repro steps if it's still important and happening! ❤️

[2020-02-20 21:32] #141 closed

[2020-02-20 21:41] notwaldorf commented on #164
For a [soundfont](https://github.com/tensorflow/magenta-js/blob/master/music/src/core/soundfont.ts#L353), the directory structure is:
[code]

So i think you'd have to download them each on their own, like:

[code]

[2020-02-20 21:41] #164 closed

[2020-02-20 21:44] notwaldorf commented on #201
It's already been added to mm.MIDIPlayer, and I don't know if anyone cares about being added to the plain synth mm.Player, so I'm going to close this for now until I hear there's a demand for it.

[2020-02-20 21:44] #201 closed

[2020-02-20 21:45] notwaldorf commented on #279
Looks like this was answered, closing! 🎉

[2020-02-20 21:45] #279 closed

[2020-02-20 21:48] notwaldorf commented on #387
@hardmaru, could you please take a look? thanks!

[2020-02-20 21:56] notwaldorf commented on #403
Yeah, this definitely looks like it's the case: [code](https://github.com/tensorflow/magenta-js/blob/master/music/src/core/player.ts#L206). When we call `stop()`, this also stops the tone.js Transport, which is going to also stop the other player.

I think the best solution for now is to document this (your option 3). Options 1 and 2 sound hard, because I don't know if we can tell from playerA tha

[2020-02-20 22:15] notwaldorf commented on #393
Alright, I've thought about this more and I don't think we want to add all these audio_utils as a public API -- we added them for a model in particular, and the problem is that they aren't tested for all cases. We definitely don't plan on working on them or adding new features, and there's many libraries out there that give you different ways to do stfts. So this is why I think they should remain

[2020-02-20 22:15] #393 closed

[2020-02-21 00:16] cifkao commented on #403
Looking at the code, couldn't option 2 be implemented just by checking `Tone.Transport.state`, and throwing an exception if it's already playing? And analogously for stopping, pausing and resuming. That seems like a more reasonable behavior (if you click the wrong button, nothing is going to happen, as opposed to unexpected things happening). It would also fix the demo, I think.

[2020-02-21 00:24] cifkao commented on #381
magenta/music seems to use `midiconvert` for loading the MIDI files, which, I guess, is an older version of Tonejs/Midi? So is it really fixed? (I haven't tested it recently.)

[2020-02-23 00:32] Mylab6 opened #414 "require('@magenta/music/node/transcription'); Does not work in serverside NodeJS"
Hi all, I'm trying work off the Drumbot project and add a way to transcribe midi via an API endpoint. I'm getting stuck because the transcription module really wants a browser object.

When trying to require transcription ,
const transcription = require('@magenta/music/node/transcription');

I get this error .
[code]

Then I attempted to add a window to the global context , with

`const Window = r

[2020-02-23 02:19] notwaldorf commented on #414
Hmm, I think the problem here is that transcription (are you using onsets and frames?) uses the audio context to record and handle the audio, and that’s a browser spec, not a server side spec. I’m not sure what exactly you’re doing, but some googling led me to https://github.com/audiojs/web-audio-api, which is an implementation of the web audio API that should work in node.

[2020-02-23 02:21] notwaldorf commented on #414
magenta.js was initially written as a browser library (so all client side), but we’ve recently made it work in node. However, this doesn’t means that all models will work in node — the ones that rely on browser features, such as the web audio api, won’t work out of the box, I’m afraid. I think only onsets and frames and gansynth are affected, and you might still get them to work with the library I

[2020-02-23 04:14] Mylab6 commented on #414
Thanks for the fast response !

So I actually tried to use the web-audio api,

`const Window = require('window');
global.window = new Window();
global.performance = Date;
global.fetch = require('node-fetch');
var AudioContext = require('web-audio-api').AudioContext
global.AudioContext = new AudioContext();
global.OfflineAudioContext = new AudioContext();

const mm = require('@magenta/music/node/mu

[2020-02-24 18:23] notwaldorf commented on #414
Ok so I think the problem is that the `transcribeFromAudioFile` method you want to call needs to use the audio context to go from a file blob to an audio buffer (code [here](https://github.com/tensorflow/magenta-js/blob/5940871ee9f38d3d9fd52f8e45b89f132353ca09/music/src/core/audio_utils.ts#L90). Instead of calling `transcribeFromAudioFile`, can you use the node web-api implementation to go from yo

[2020-02-24 21:16] cifkao opened #415 "Changing tempo should also change note length"
It appears that `player.desiredQPM` only affects note onsets and not note lengths (at least with `SoundFontPlayer`). So notes 'sound' longer in faster tempos and shorter in slower tempos.

[2020-02-24 21:43] cifkao commented on #385
I don't know either how you would do it with the audio element, it was just an idea.

It's probably easier to use [`Tone.Player`](https://tonejs.github.io/docs/13.8.25/Player). It seems that it should be possible to make sure it starts simultaneously with the NoteSequence by calling
[code]
before starting the `Transport`.
Pausing and seeking should also be possible.

[2020-02-25 05:24] Mylab6 commented on #414
So I found a solution,

I'm just using

https://github.com/suchipi/test-it
Which creates a simulated browser , allowing me to get this working.

Thank you .

[2020-02-27 04:04] goldensunliu opened #417 "github pages broken"
can't find these links with our readme.mds:

- https://tensorflow.github.io/magenta-js/image/demos
- https://tensorflow.github.io/magenta-js/music

[2020-02-28 04:54] notwaldorf commented on #417
Ahhh, good call. I just moved the repo to the magenta org and they're borked. They should be https://magenta.github.io/magenta-js/music/, https://tensorflow.github.io/magenta-js/image/demos, https://magenta.github.io/magenta-js/sketch/index.html etc.

I'll do a PR tomorrow, unless you want to send one!

[2020-03-02 18:00] #417 closed

[2020-03-02 19:55] notwaldorf commented on #414
Sounds good!

[2020-03-02 19:55] #414 closed

[2020-03-04 19:15] #403 closed

[2020-03-09 12:32] jacobmv opened #427 "Errors with loading custom trained melody_rnn models into browser"
Hi this is MJ - I've been attempting to load my custom trained model (that I know outputs melodies and training works based on my manual method) to respond to the MagentaJS tutorial. When I run through MagentaJS tutorial (e.g. https://hello-magenta.glitch.me/) I am able to get your model to respond via browser (multiple of your models I've tried w/ success).

The issue is when it is my model, I've

[2020-03-09 16:33] notwaldorf commented on #427
I think the problem might be that the JS music RNN doesn't implement attention (@adarob do you know?)

What happens if you use `--config=basic_rnn` instead?

[2020-03-09 16:36] notwaldorf commented on #427
Oh hmm, the JS MusicRNN seems to have some [code](https://github.com/magenta/magenta-js/blob/master/music/src/music_rnn/model.ts#L151) about attention. I'm going to defer to Adam on this one since he knows the model better

[2020-03-09 16:59] adarob commented on #427
I think there is an unfortunate incompatibility that was introduced when we changed how the attention was applied in MusicRNN (https://github.com/tensorflow/magenta/pull/670/files). We need to update the JS model (I'm not sure how difficult it would be), but for now you could retrain your model the "old" way.

[2020-03-26 14:43] CoDeRgAnEsh commented on #427
Hey, Can I adopt this issue for GSoC 2020 ? If so, I'm happy to contribute.

[2020-03-29 16:50] cifkao opened #432 "How to correctly import with webpack & ES5 support"
I have a browser project which uses npm, webpack and babel for ES5 compatibility. I'm using some functions from `@magenta/music` (`core` and `protobuf`), but I'm still confused about how to import it correctly.

All of the following work in Chrome on my desktop:
[code]
but the following fails:
[code]
with `Module not found: Error: Can't resolve '@magenta/music/es5'` (indeed, there are no `.js` fil

[2020-03-30 17:18] notwaldorf commented on #432
The `es5` build doesn't work in a module-y way (because modules are not es5). You have to use the `es6` builds for that. iirc:
1) is the es5 build
2) es6 build
3) node build (that uses `require`)

Here's a sample repo I made to show it working with TS and webpack: https://github.com/notwaldorf/example-magenta-in-ts

[2020-03-30 18:47] cifkao commented on #432
I see, thanks!
So you're importing `'@magenta/music/es6'` but your tsconfig says `"target": "es5"` so it will get compiled to ES5, is that correct? But if I'm importing from "plain" JS (not TS, just webpack), I think it will just pack the ES6 code.

[2020-03-30 18:50] notwaldorf commented on #432
Yup, the tsconfig target is what _my_ project outputs (so I can use es6 sources, but the thing I'm outputting will be es5, and all the new JS features will be prayed away by that webpack config). Yeah, using JS should be similar to this, modulo a webpack flag somewhere (telling it to use babel or something). Unfortunately JS infra is not my forte, but that should be a fairly common and googleable

[2020-04-04 18:19] MilesMorel opened #436 "Issues with OfflineAudioContext"
It looks like magenta is re-using a single OfflineAudioContext for processing in Onsets and Frames (and maybe elsewhere). This is fine if you only process a single blob and can do so synchronously (like in the demo), but this is problematic in the real-time streaming case. I think best practice is to create a new OfflineAudioContext every time you use it. This should prevent errors like "DOMExcept

[2020-04-04 18:37] MilesMorel opened #437 "Performance-boosting options for Onsets and Frames"
Sorry if this is the wrong place for this - I didn't want to inundate you with separate issues for these small interface change requests so I'll just share some feedback here.

1. Currently if you `transcribeFromFile` or `transcribeFromAudioURL`, the batch number is set to 4 and can't be changed but those functions call `transcribeFromAudioBuffer` which takes a batches param anyways. I think it wo

[2020-04-04 22:21] andybrewer opened #438 "Image sizes"
Is there documentation around using style transfer on larger images? The generated canvas image seems constrained to 300px wide.

The fox image is the content and the abstract art is the style, but I can't seem to get the rendered output to be in the same dimensions.

<img width="1045" alt="Screen Shot 2020-04-04 at 3 20 57 PM" src="https://user-images.githubusercontent.com/7093/78462521-d38b3680-

[2020-04-06 07:28] martonszabolcs commented on #414
I tried the test-it but the magenta package doesn't work. Do you have any solution?

[2020-04-06 16:31] adarob commented on #438
@vdumoulin

[2020-04-06 16:58] adarob commented on #427
It would be great to have this help! I'm not sure how to set it up as a
GSoC project, but please feel free to pursue it!

On Thu, Mar 26, 2020 at 7:43 AM Ganesh kumar T K <notifications@github.com>
wrote:

[2020-04-06 18:39] notwaldorf commented on #414
I need to know a little bit more about how you're using it. For example, I said above that you need to not use `transcribeFromAudioFile`. Can you show me how you're using the model?

[2020-04-07 07:55] martonszabolcs commented on #414
I just installed this package to my Node.Js server, and the very first time I just import the transcription `const model = require('@magenta/music/node/transcription');` and the response is:
`ReferenceError: window is not defined`
My idea is that using this OnsetAndFrames model on mobile side (React Native), but I find a lots of dependency (Tone.js, Web-audio etc) what doesn't work in React Native

[2020-04-09 04:30] CoDeRgAnEsh commented on #427
Yeah, I'm working on reconstructing the layers

[2020-04-21 22:10] mdubey96 commented on #436
Hey magenta team,

Thanks for developing such great technology!
Was wondering about this same issue and if there's a way to get this model working in real time?

[2020-05-07 06:08] jgoffin opened #448 "sequenceProtoToMidi (no notes in output)"
I'm using the drum kit rnn (via the JS API) and am able to successfully produce samples. However, when I go to convert the note sequence object back into a MIDI file I get an empty output (no notes in the midi object). I've attached a simple example to demonstrate the issue I'm having.

This issue doesn't occur when I'm converting other note sequence objects (created from original MIDI sources) ba

[2020-05-21 01:21] ggilder opened #453 "Visualizer fails to highlight active note in quantized sequences"
Hi, I've been playing around with magenta/music in a project, based on demos here:

https://observablehq.com/@visnup/using-magenta-music-as-a-midi-player

and here:

https://hello-magenta.glitch.me/

I've observed that if I use a `PianoRollCanvasVisualizer` or `PianoRollSvgVisualizer` with a quantized sequence, it will highlight the first note in the sequence, but fail to highlight subsequent acti

[2020-05-21 04:50] notwaldorf commented on #453
You’re totally right! I remember seeing this, and I think it’s actually a breaking change I accidentally introduced in #375 (because the player automatically converts it to a quantized sequence, and now it can’t find the correct svg rect based on the active note callback)

I’ll take a look at fixing this, or at least documenting the problem.

[2020-05-21 06:25] ggilder opened #454 "API documentation links are broken"
Hi, not sure if this is the right place to file this, but on the [Magenta Getting Started page](https://magenta.tensorflow.org/get-started/) under JavaScript, the three "API docs" links are all broken, linking to pages like <https://tensorflow.github.io/magenta-js/music> that no longer exist.

The readme link for API docs goes to <https://magenta.github.io/magenta-js/music/> instead... however tha

[2020-05-21 13:20] adarob commented on #454
Thanks for reporting! You can follow the links on the right side of the main page of https://magenta.github.io/magenta-js/music/ to see the API docs.

[2020-05-21 15:24] ggilder commented on #454
Gotcha... maybe I'm just not familiar with this doc format but that is very non-intuitive to me :)

[2020-05-21 15:37] adarob commented on #454
Yes, well the main page there is just the README from the GitHub repo and is not specific to the API documentation. But I agree we should try to improve the linking while we're here.

[2020-05-26 19:58] notwaldorf commented on #448
Could you `console.log` one of these note sequences that can't be converted to MIDI, please? I want to see if there's anything obvious with it (maybe it's empty, maybe it's missing a field, etc).

[2020-05-26 20:00] notwaldorf commented on #448
Update: i've put the code in this https://jsbin.com/mopapow/edit?html,console,output, will take a look!

[2020-05-26 21:29] notwaldorf commented on #448
I can't see anything at first glance. Some fields like `timeSignatures` seem empty, but I don't know if those are needed for the conversion. @iansimon does any of this look familiar?

[2020-05-28 03:31] notwaldorf commented on #454
Links are now fixed on https://magenta.tensorflow.org/get-started!

[2020-05-28 03:31] #454 closed

[2020-05-28 06:10] ggilder commented on #454
👏

[2020-05-28 19:59] iansimon commented on #448
The issue seems to be that the notes have no velocity.  If I manually set the velocities the conversion works.

[2020-06-03 04:52] ccjeff opened #459 "dynamic link to the MusicVAE demo in the v1.16.0 documentation dead"
gives a dynamic link not found error

[2020-06-03 06:35] notwaldorf commented on #459
Which link? Like, on which page?

[2020-06-03 13:06] ccjeff commented on #459
I was trying to find the endless trios sample, the link is: https://goo.gl/magenta/endless-trios

Here is the error message:

![image](https://user-images.githubusercontent.com/46590685/83639927-0301e500-a5de-11ea-9506-d397ff7dcd29.png)

Thx!

[2020-06-03 13:32] adarob commented on #459
try goo.gl/magenta/endlesstrios

[2020-06-03 13:32] #459 closed

[2020-06-07 19:49] Jars-of-jam-Scheduler opened #461 "continueSequence requires the progressive chords array whereas the doc says it's optional"
Hi everyone,

From https://magenta.github.io/magenta-js/music/classes/_music_rnn_model_.musicrnn.html#continuesequence we can see that `chordProgression` is optional.

In my code I have:

`let improvisedMelody = await music_rnn.continueSequence(quantizedSequence, 20, 0.5)`

Which results in this JS error:

    Uncaught (in promise) Error: Chord progression expected but not provided.
        at t.<

[2020-06-07 20:15] Jars-of-jam-Scheduler opened #462 "sequenceProtoToMidi used on a quantizedSequence generates a MIDI file without song (perhaps: unquantizeSequence is bugging)"
Hi everyone,

# Summary
1. The API I speak about

2. The context

3. The problem: Actual result + Expected result

4. What I already have tried

5. Clues to help you to help me

6. Minimal and Testable Example: Prerequisites and Steps to follow + Sources

---

# The API I speak about
https://github.com/magenta/magenta-js , https://magenta.github.io/magenta-js/music/

# The context
I try to generat

[2020-06-07 21:05] notwaldorf commented on #462
I think this might be happening because Your notes don’t have any
velocities. What happens if you add “velocity: 100” to every note?

On Sun, Jun 7, 2020 at 1:15 PM Jars-of-jam-Scheduler <
notifications@github.com> wrote:

[2020-06-07 21:06] notwaldorf commented on #461
What checkpoint are you using? I think whether or not it’s optional depends
on how the model was trained.

On Sun, Jun 7, 2020 at 12:49 PM Jars-of-jam-Scheduler <
notifications@github.com> wrote:

[2020-06-08 18:48] Jars-of-jam-Scheduler commented on #462
You are right. However, I have the same problem with the following code (I try to output in a MIDI file a music generated by using MusicRNN):
[code]

So how could I specify a velocity for the notes of the `improvisedMelody` constant?
Indeed, your function `continueSequence` doesn't seem to specify a velocity.

[2020-06-08 18:49] Jars-of-jam-Scheduler commented on #461
The checkpoint is: https://storage.googleapis.com/magentadata/js/checkpoints/music_rnn/chord_pitches_improv :-) .

[2020-06-08 20:54] notwaldorf commented on #462
Right, I think MusicRNN also outputs this incorrectly with no velocities (see https://github.com/magenta/magenta-js/issues/448), so you'd have to do it after the fact. Something like:

[code]

[2020-06-08 20:56] notwaldorf commented on #461
Right, so since `chord_pitches` is in the name, that means that parameter isn't optional (and it's an array of chord names) -- it will make sure that the generated notes follow the chord progression specified. Here's [some sample code](https://github.com/magenta/magenta-js/blob/master/music/demos/music_rnn.ts#L156) on how to use that parameter.

[2020-06-09 09:11] Jars-of-jam-Scheduler commented on #461
Thank you. After all, it does make sense. However, for someone who doesn't know much about music theory like I do, you don't necessarily have the presence of mind to tell yourself that since the term "chord_pitches" is part of the checkpoint name, then the parameter isn't optional (even if it seems obvious afterwards). Perhaps the reader's attention should be drawn to this fact in the documentatio

[2020-06-09 09:11] Jars-of-jam-Scheduler commented on #462
@notwaldorf Thank you!

[2020-06-13 13:14] #462 closed

[2020-06-13 13:40] Jars-of-jam-Scheduler opened #464 "Uncaught (in promise) Error: Number of splits must evenly divide the axis."
# Summary

1. Context
2. The problem
3. What did I try to fix this bug?
4. How to reproduce this bug (+ required data)?
5. My questions
6. Sources

---

# Context

I would want to generate a new sequence of notes of a MIDI file thanks to MusicRNN chord_pitches_improv.

# The problem

My call to `music_rnn.continueSequence` triggers the following error:

    at C (music:22)
    at split_ (music:22)

[2020-06-21 13:32] Jars-of-jam-Scheduler commented on #464
I've updated the MIDI file download link.

[2020-06-24 22:59] Seanitzel opened #467 "Multitrack Chords: Chord progression expected but not provided Error in official demo"
Hi,

I am working on.a project using the Multitrack chords model, which out of nowhere stopped working on my local dev environment.

It was really weird, so i went to the official demo from the official blog post for Multitrack chords and was really surprised to see the exact same error(after it was working literally 2 days ago).

Not sure whats up...

Link for the demo:
https://codepen.io/iansimo

[2020-06-25 14:19] adarob commented on #467
Here is the error @iansimon:
[code]

[2020-06-25 23:00] iansimon commented on #467
Should be fixed now (in the demo at least); the JS MusicVAE API changed between versions 1.16.0 and 1.17.0.

To update your project, instead of calling e.g. model.decode(z, temp, chords) you should call model.decode(z, temp, {chordProgression: chords}).

[2020-06-25 23:46] Seanitzel commented on #467
I see...
The demo is working again, but i'm getting a weird error on my end:
[code]

Looks like it's something with TF...

I am not sure why it's not working for me locally as i'm doing nothing different than in the demo, except the change you mentioned.

The demo is still using model.decode(z, temp, chords) too, as well as the previous version of my project which is deployed [HERE](https://music-

[2020-06-25 23:49] iansimon commented on #467
You can get your demo working again if you explicitly link against an older version of magenta/music, 1.1.6 or earlier.  Not sure what's causing your most recent error.

[2020-06-25 23:52] Seanitzel commented on #467
sorry, but How do i link to an earlier version?

The checkpoint url contains no versioning info

[2020-06-25 23:56] iansimon commented on #467
Not the checkpoint, but the magenta.js music library:

`<script src="https://cdn.jsdelivr.net/npm/@magenta/music@1.16.0"></script>`

[2020-06-26 01:02] Seanitzel commented on #467
I was using 1.16...

And i have tried every combination with versions 15-17 with sending both an object of chordProgression and an array, I get the same errors every time.

When it's an array - the original error, when it's an object, the second tensor flow one...

[2020-06-26 05:51] iansimon commented on #467
I did notice a related bug in 1.17 which should be fixed by #468, but if you link against 1.16 and pass an array as in https://codepen.io/iansimon/pen/GGRYJZ it should work.  Your own demo that you linked above works as well; where are you seeing the issue?

[2020-06-26 13:26] Seanitzel commented on #467
I'm seeing the bug in my local dev environment, even when i rollback to the version which is published in my demo which i am really not sure how is working haha

I don't know what i'm missing but it's really driving me crazy since it doesn't make any sense 😅

Hope #468 will fix it 🤞

[2020-06-26 15:37] adarob commented on #467
I thought we'd planned a full version bump with the API change? @notwaldorf

[2020-06-26 16:32] notwaldorf commented on #467
I got confused after the conversation in the PR because it looked like it
wasn’t a breaking change so I done messed up :/

Should I do a major bump now?

On Fri, Jun 26, 2020 at 8:37 AM Adam Roberts <notifications@github.com>
wrote:

[2020-06-26 17:17] adarob commented on #467
No worries. Sure, go for it. Is there a way to unpublish the last one?

[2020-06-26 17:58] notwaldorf commented on #467
Nope :(

On Fri, Jun 26, 2020 at 10:18 AM Adam Roberts <notifications@github.com>
wrote:

[2020-06-28 21:22] Jars-of-jam-Scheduler commented on #464
Anybody got any ideas?

[2020-07-01 20:38] Ignasinou commented on #26
Hi, sorry for bumping up this post. I was trying to generate some sequences in a browser using magenta.js and a fine-tuned performanceRNN model. I uploaded the model and initialized it successfully, but I am getting an error when trying the continueSequence:

`music@^1.15.0:22 Uncaught (in promise) Error: Error in matMul: inner shapes (641) and (900) of Tensors with shapes 1,641 and 900,2048 and t

[2020-07-04 22:23] JuanuMusic opened #470 "Node.js: "TypeError: Only absolute URLs are supported" when using a local checkpoint path"
Hi!
I'm implementing magenta.js using Node and I'm getting the error upon calling the initialize() when initialized with a local path:
`TypeError: Only absolute URLs are supported`

This is the full Error log:
[code]

and this is the code that's throwing the error:
[code]

Am I doing something wrong or are local checkpoint paths not allowed?

[2020-07-05 06:10] Seanitzel commented on #470
Static paths mean either a URL or '/...' .

You should put your model in the public or static folder of your project(which ever your project uses), and use '/my_model' for the checkpoint.

[2020-07-06 14:07] adarob commented on #464
Sorry we haven't had time to diagnose this yet. I will try to look at it this week. Also tagging @iansimon in case he has time.

[2020-07-06 14:28] mxkrn opened #471 "[Node.js] "ReferenceError: performance is not defined" when using MusicVAE"
I'm running into this error when trying to initialize MusicVAE in Node.js; example code:

[code]

I suppose it makes sense as performance is a window function and is never imported from `perf_hooks`

[2020-07-06 14:29] adarob commented on #471
Can you provide the full stack trace?

[2020-07-06 14:30] mxkrn commented on #471
[code]

[2020-07-06 14:36] adarob commented on #471
I'm not so good at debugging js unfortunately. @notwaldorf or @cannoneyed do you have time to look into this?

[2020-07-06 18:06] cannoneyed commented on #471
Yeah this is most likely an issue with using a global `performance` (which exists in the browser on the `window` object but not in Node.js)... It's used all over the place to measure load/inference times [throughout the app ](https://github.com/magenta/magenta-js/blob/46c7bfa89043619b562da230e6e0d3baabccefa4/music/demos/music_vae.ts#L41) so I'm a bit surprised that this isn't more pervasive of an

[2020-07-06 18:23] notwaldorf commented on #470
Yeah, I think @Seanitzel's got it!

[2020-07-06 18:23] #470 closed

[2020-07-06 18:23] notwaldorf commented on #470
(marking as resolved, but please re-open if the fix doesn't work for you)

[2020-07-06 20:03] Jars-of-jam-Scheduler commented on #464
No problem thank you :-).

[2020-07-06 22:36] iansimon commented on #464
Can you repost the MIDI file?  The link seems to have expired.

[2020-07-06 22:47] iansimon commented on #26
Unfortunately there is currently no PerformanceRNN data converter for use with MusicRNN.  You could try adapting the (totally separate) Performance RNN JS demo codebase to work with your checkpoint: https://github.com/magenta/magenta-demos/tree/master/performance_rnn

[2020-07-08 06:29] mxkrn commented on #471
Awesome, thanks for addressing this so promptly!

[2020-07-08 14:22] notwaldorf commented on #471
You’re also going to have some problems with fetch btw, which also is no bueno in Node. I have an example on how to shim it on the README: https://github.com/magenta/magenta-js/tree/master/music#in-node

[2020-07-08 17:41] #471 closed

[2020-07-13 11:44] Seanitzel commented on #467
Everything seems to be working following the latest merges, so thanks!

If anyone else encounters this, you can either wait for the next magenta publish( > 1.17) or build the dev branch on your own machine and use it with this api - model.decode(z, temp, {chordProgression: chords})

Closing the issue :)

[2020-07-13 11:44] #467 closed

[2020-07-13 13:37] Jars-of-jam-Scheduler commented on #464
@iansimon

I've updated the OP with a new link,thank you!

[2020-07-14 15:51] iansimon commented on #464
Got it!  The NoteSequence is missing the totalTime field.  I'm not sure if there's a reason you're constructing the NoteSequence manually from MIDI; if there is, you can just set sequence.totalTime = 10, if not you should probably be using our MIDI -> NoteSequence conversion functions in https://github.com/magenta/magenta-js/blob/master/music/src/core/midi_io.ts

Once I set sequence.totalTime your

[2020-07-14 15:51] #464 closed

[2020-07-17 10:28] Lightingooo opened #478 "Cannot read property 'quantizationInfo' of undefined"
I just specify the quantizationInfo, but this errors still occur.

Unhandled Rejection (TypeError): Cannot read property 'quantizationInfo' of undefined
▶ 20 stack frames were collapsed.
(anonymous function)
C:/Users/lenovo/Desktop/Cam/src/services/magenta_manager.js:60
  57 |             console.log(samples);
  58 |             const rnnPlayer = new mm.Player();
  59 |             const qns = mm.

[2020-07-21 06:01] Buddhilive opened #480 "sequenceProtoToMidi doesn't work in Angular"
I setup _@magenta/music_ project in Angular referring to [this repo.](https://github.com/notwaldorf/example-magenta-in-ts). And Everything works fine except for _sequenceProtoToMidi()_ method. I tried the same project in static HTML project which worked fine. But _sequenceProtoToMidi_ doesn't work in Angular. No error is thrown in the console. But the app freezes when _sequenceProtoToMidi_ method

[2020-07-21 11:49] Buddhilive commented on #480
Finally figured out. I have to quantize the _notesequences_ before passing in to _sequenceProtoToMidi_. But it is surprising that there was no error message. _sequenceProtoToMidi_ worked in my static HTML project without quantizing.
I went through the source code of magenta js and I didn't find any error handling in _sequenceProtoToMidi_ method. This may be the reason I didn't see any error messag

[2020-07-21 11:52] Buddhilive commented on #480
Closing the issue.

[2020-07-21 11:52] #480 closed

[2020-07-22 20:49] cannoneyed opened #483 "OfflineAudioContext not defined in web worker"
When importing / using certain pieces of Magenta functionality in a web worker (namely anything that uses `audio_utils`, such as Transcription or GANSynth), `OfflineAudioContext` doesn't exist and the browser-detecting code throws an error

https://github.com/magenta/magenta-js/blob/master/music/src/core/audio_utils.ts#L36-L39

[2020-07-22 20:56] notwaldorf commented on #483
I would probably as a first step throw a clear error earlier in audio_utils. Something like "super sorry, this model does not work in node or a web worker because OfflineAudioContext"

The second step is kind of a pain, and like you said get a third party polyfill for OfflineAudioContext and do a similar dance like you did for fetch/performance.

[2020-08-10 00:07] mjxmusic commented on #427
Hey folks, wanted to just bump this to see if there were any updates?

[2020-08-12 16:04] divisiondeariza opened #494 "Error building magenta-js/music for node with tfjs-core 1.7.4"
I was trying to build magenta for node with latest 1.x.x tfjs-core version (1.7.4, which is chosen by default when you run `npm install` inside magenta-js/music dir) but i got this error when I tried to use it in a simple gist:

[code]
I think it's related to this [line in tfjs repo](https://github.com/tensorflow/tfjs/blob/7ccca47637b6c9125ba03b7bd205bda029842961/tfjs-core/src/platforms/platform_n

[2020-08-18 03:46] daorren opened #496 ""Error: Cannot use offline audio context in Node.js" when using OnsetsAndFrames"
I'm trying to use transcription model in Node.js, here's my script:
[code]
And I get this error, which I think from ` new transcription.OnsetsAndFrames` line
[code]
Any idea to fix this?

[2020-08-19 17:38] notwaldorf commented on #496
Unfortunately, this is kind of working as in intended 😢 . OfflineAudioContext is the thing that manipulates the audio buffer, but that is not available in Node. There are some polyfills for audio contexts for Node, but it would involve a lot of refactoring of the existing code to make sure they work correctly, have all the functionality etc.

[2020-08-20 02:22] daorren commented on #496
Thank you so much for responding!
Guess I have to find some other solution

[2020-08-24 08:47] Jars-of-jam-Scheduler opened #500 "-"

[2020-08-26 11:41] #500 closed

[2020-08-26 11:44] Jars-of-jam-Scheduler opened #501 "-"

[2020-08-26 11:55] #501 closed

[2020-08-26 14:45] cifkao opened #502 "Multiple players playing simultaneously"
It is currently not possible to have multiple players playing (or even paused) simultaneously because they are implemented using `Tone.Transport` (see #403, #418). This leads to the following problems:
- To avoid a bad user experience (playback won't start if a different player is already playing), one has to keep track of the currently playing player to stop it when needed (as in [html-midi-playe

[2020-08-28 16:40] #496 closed

[2020-08-28 16:41] notwaldorf commented on #494
What do you mean by "building magenta for node"? what is the command that you're running?

[2020-08-28 16:42] notwaldorf commented on #478
Closing, as I couldn't repro and this issue is stale

[2020-08-28 16:42] #478 closed

[2020-08-28 16:45] notwaldorf commented on #461
Yeah, to your comment, I think we document the checkpoints fairly poorly. If you have any ideas on how we could do that better (other than the error we're throwing), I'd appreciate it.

I'm not sure what you mean by "concrete example of notes that follow this or that chord progression". A chord progression is something like C–G–Am–F, which is something that's super popular in pop music. When you p

[2020-08-28 16:46] notwaldorf commented on #502
I thought there was only one global Transport available (i.e. the global Tone.Transport). Are there instances? How would that look like?

[2020-08-28 17:49] cifkao commented on #502
The docs say that Transport is a singleton. But looking at [the code](https://github.com/Tonejs/Tone.js/blob/ed0d3b08be2b95220fffe7cce7eac32a5b77580e/Tone/core/clock/Transport.ts#L67), I don't see anything that would keep me from instantiating it (it has a public constructor). 🤔

[2020-08-29 00:50] divisiondeariza commented on #494
I cloned the repo, then I ran "npm install" then "npm run-script build:node", it didn't work well until I fixed the dependencies in the package.json file to the "1.1.2" version. It looks like api in tensorflow 1.7.4 is not backward compatible with 1.1.2 version.

[2020-08-30 16:28] tambien commented on #502
Each Context has one Transport created with it, so you could create multiple Tone.Context's. You might run into browser implementation constraints. For example, i know Safari can only have something like 4 or 5 AudioContext instances running at once, so you'll have to be mindful to close the unused contexts before creating a new one.

[2020-08-30 17:43] cifkao commented on #502
@tambien Thanks for chiming in. So I guess my idea was bad. :unamused:

Then I see two possible ways to implement playback:
- Using Clock directly as you suggested, re-implementing some of the functionality of Transport and Part.
- Instead of starting/stopping Transport, start/stop the Part. To pause it, just remember the offset. (I don't know enough about Tone to see whether this would work.)

Th

[2020-08-30 18:30] cifkao commented on #502
By the way, if someone ends up reimplementing playback, it would be great to keep #415 and #301 in mind.

[2020-08-30 19:18] notwaldorf commented on #502
I think I want to push back a little and understand why you need several players so i can give you a qorkaround -- is it to turn on and off some instruments? in that case, we can just make some utility methods that concatenate these note sequences into the one "played" one. The complicated part here will be to dynamically add notes to it, but even switching the part that a player is using shouldn'

[2020-08-30 21:00] cifkao commented on #502
It's not hard to imagine that there will be more than one player on the page, see e.g. my [interpolation demo](https://groove2groove.telecom-paris.fr/style-interpolation.html) or the [html-midi-player demo](https://codepen.io/cifkao/pen/WNwpLzL). I don't need them *playing* simultaneously. But the user _will_ try to fiddle with multiple players at the same time and expect some reasonable behavior

[2020-09-02 18:44] iansimon commented on #461
@notwaldorf Your explanation is great!

Unfortunately, a little bit of music theory knowledge is probably necessary to use a chord-conditioned model, because the model needs to be provided chord names like 'Bm' or 'C#7' that have strong implications about which notes will be played.

For the theory-averse, I would advise using basic_rnn or melody_rnn instead, though I'm not sure what text we could

[2020-09-19 23:03] shadowpants18 opened #507 "UnhandledPromiseRejectionWarning: ReferenceError: ImageData is not defined"
Getting this warning whenever I try to use this repo for a discord bot, any ideas on why this is happening, and how I can fix it?

`const Canvas = require('canvas');
const discord = require('discord.js');
module.exports = {
    name:'mix',
    description:'merges two avatars of the mentioned users',
    async execute(msg, args, model){
        const canvas = Canvas.createCanvas(128,128);
        c

[2020-10-05 01:20] rignato opened #508 "How to select instrument in SoundFontPlayer class?"
In the [player demo](https://magenta.github.io/magenta-js/music/demos/player.html), there is a dropdown for the `SoundFont` player that allows for selecting an instrument other than the Acoustic Grand Piano. Is there a way to do this when creating a `SoundFontPlayer` class?

I've looked through the documentation and couldn't find anything pertaining to this, so I'd greatly appreciate any clarifica

[2020-10-05 17:27] notwaldorf commented on #508
The instruments are picked automatically from the note sequence metadata (the note's program), rather than having a generic note sequence and telling it what to play it as. In that dropdown, every instrument corresponds to an integer (accoustic grand is 0, etc). Then, you can just set all your notes in the sequence to have that program (like we do [here](https://github.com/magenta/magenta-js/blob/

[2020-10-06 04:13] rignato commented on #508
Ah,  I see, thank you for the clarification!

[2020-10-06 04:13] #508 closed

[2020-10-11 16:01] iFUCKINGHATEcomputers opened #509 "Piano-scribe has issue with lengths of MIDI notes"
piano-scribe.glitch.me is an awesome piano transcription program, but it has issues with note lengths in the MIDI files it makes. (One of?) piano-scribe's creators[ asked me](https://github.com/notwaldorf/ama/issues/124) to raise the issue here, as it could be "a problem with the magenta.js <-> NoteSequence converter".

The issue is that when the transcription is done and it plays in the browser,

[2020-10-13 22:20] MikeParish opened #510 "Dead Links at https://hello-magenta.glitch.me/"
There appear to be dead links in the tutorial: https://hello-magenta.glitch.me/

They seem to link back to a repo that no longer exists: https://tensorflow.github.io

I hope this helps. Thanks!

## Under "Step 1: Making sounds with your browser"
NoteSequences: https://tensorflow.github.io/magenta-js/music/modules/_core_sequences_.html

## Under "Playing a NoteSequence"
Player: https://tensorflow.g

[2020-10-17 18:13] Harmonybear opened #511 "Tone/Transfer Unsupported Output Device"
The sample rate of my audio interface is 44,100Hz but Tone/Transfer (https://sites.research.google/tonetransfer) tells me it isn't: "It looks like your output device has a sample rate of less than 44,100Hz. Please switch to an output device that supports at least 44,100Hz." I'm using Safari on a Mac. What gives? Thanks for any help!

[2020-10-21 14:24] EdwinToh commented on #511
Hi @Harmonybear , if you launch "Audio MIDI Setup" on your mac, you will be able to check your output device's sample rate. We've noticed that if you're using bluetooth headsets, when the microphone is activated, the output sample rate goes to 16kHz. And since Safari doesn't allow any audiocontext to be created that is less than 44.1khz, tone transfer simply won't work on Safari.

Having said that

[2020-10-21 18:22] Harmonybear commented on #511
Thank you! I do appreciate the help! This is an awesome bit of AI!

[2020-10-21 18:39] #511 closed

[2020-11-17 07:28] promagic007 commented on #436
Hey magenta team,

Can you guide us how we can integrate real-time Onset and Frames?
Thanks.

[2020-11-20 19:38] lhl2617 opened #514 "@magenta/music: `TypeError: Cannot read property 'hrtime' of undefined`"
Hey! I recently resurrected an old `create-react-app` React project and bumped `@magenta/music` from 1.12.0 to 1.20.0 -- immediately upon startup I got `TypeError: Cannot read property 'hrtime' of undefined`

It seems to be related to #475 . It seems intended that local tests should use the node environment where `global.process` is defined, and for web builds the non-node versions are used. Likel

[2020-11-20 19:44] lhl2617 commented on #514
https://github.com/magenta/magenta-js/blob/e1f6a65088584e7f2257427cb92853580adf02f3/music/src/core/compat/global.ts#L27

[code]

Somehow this resolved to true in the environment..

[2020-11-20 20:27] lhl2617 commented on #514
It's my problem - closing this issue :)

Was doing
`import { NoteSequence } from '@magenta/music/node/protobuf/index';`
instead of
`import { NoteSequence } from '@magenta/music';`

[2020-11-20 20:27] #514 closed

[2020-11-20 21:57] notwaldorf commented on #514
Whew! Glad it wasn't a real problem!

[2020-11-22 01:39] asterisk37n opened #520 "How to export audio_utils?"
## Question
Is it possible to execute ```core/audio_utils.melSpectrogram``` in the browser (or mobile)?

## Background of question
I develop mobile app with React Native and look for log melspectrogram function. For now, tensorflowjs provides ```tf.stft```, but doesn't mel scale converter. I look for a way to use
[code]
from ```@magenta/music/core/audio_utils``` even if it's not well tested.

## W

[2020-11-22 05:11] MilesMorel commented on #436
I decided to play with this again and got it working async and real-time without the OfflineAudioContext. I had to fork the project and change a few things that are perhaps specific to my use-case so I'll just describe what I did... The trick is to do the mel spec yourself with raw chunks (instead of an audiobuffer which is unnecessary) and then use `transcribeFromMelSpec` to avoid using the audio

[2020-11-22 05:11] #436 closed

[2020-11-22 05:16] MilesMorel commented on #437
Since there appears to be little interest in this, I'll just leave these changes in my fork. If anyone has trouble just let me know.

[2020-11-22 05:16] #437 closed

[2020-11-22 05:16] promagic007 commented on #436
Thanks for the reply.
In fact I tried the same way as you described a few days ago, and it worked fine.
I'm not sure the performance of pianorollToNoteSequence and will check for it as well for my project.

[2020-11-22 17:12] MilesMorel commented on #436
@promagic007 I think I misread the function so the performance there was probably fine - it was late haha

[2020-12-08 03:57] axhue opened #523 "Parsing from serialized string"
Hi!

does anyone know how to read a serialized string into magentaJS player/notesequence? I'm running my model on a server and sending the result (as a string) to be read and played on the client.

I'm thinking of converting string -> midi -> back into note sequence but i'd like to use it as a last resort.

Thanks :D

[2020-12-10 10:54] Craig-Fisk opened #524 "MusicRNN.continueSequence() Has optional chord progression parameter but throws error Unexpected chord progression provided"
I am trying to use the optional parameter of chord progression on MusicRNN.continueSequence but no matter what kind of string array I pass in to it I get an error thrown in the console:

_Uncaught (in promise) Error: Unexpected chord progression provided._

Is there something i'm doing wrong or is there a bug in continueSequence?

Code example:
[code]

in this case this.melody looks like this:
[co

[2020-12-16 20:06] notwaldorf commented on #524
Is the trained checkpoint you're loading (`./sound/melody_rnn`) trained with chord progressions? I'm not sure how you've trained it (or if you're using one of the pre-trained magenta checkpoints), but if you look at the ones we use [in the demo](https://github.com/magenta/magenta-js/blob/master/music/demos/music_rnn.ts#L28), only some checkpoints can be used with the chord progression parameter (f

[2020-12-16 20:08] notwaldorf commented on #523
If I understand your question correctly, the serialized string is just a normal serialized JSON object. So assuming you have some NoteSequence `ns`,
- this is how you get it into a string: `const str = JSON.stringify(ns)`
- this is how you parse that string back into a NoteSequence: `const ns2 = JSON.parse(str)`

[2020-12-16 20:10] notwaldorf commented on #510
Yikes, thanks for catching that! Updated!

[2020-12-16 20:10] #510 closed

[2020-12-16 20:19] notwaldorf commented on #507
It looks like you're using this in Node and not the browser, so I'm not super sure how that Canvas library work. Is the error in the `model.stylize(canvas, canvas2).then((imageData)` line?

Looking at [the source code](https://github.com/magenta/magenta-js/blob/master/image/src/arbitrary_stylization/model.ts#L141), that function accepts either `HTMLElements` or an actual `ImageData` object, and th

[2020-12-16 20:56] axhue commented on #523
Thanks for your response. I actually just figured it out! Turns out ajax doesnt handle octet-stream automatically. I tweaked it to accept a binary array which was casted to Uint8Array on the client side and decoded using protobuf.

Thanks again! and awesome work you guys are doing :smiley:

[2021-01-05 18:22] notwaldorf commented on #523
Sweet! Glad you got it!

[2021-01-05 18:22] #523 closed

[2021-01-05 19:46] notwaldorf commented on #461
Closing this issue because I think we've addressed the original question. 🎉

[2021-01-05 19:46] #461 closed

[2021-01-05 19:47] notwaldorf commented on #483
@cannoneyed what's the status of this? You did a bit of work around it, is it ready to be closed?

[2021-01-05 19:48] notwaldorf commented on #494
Closing this issue as stale because it has not had recent activity. I tried building this recently and it works (and we also just updated tensorflow to 2.7). If you have any more updates, please comment on this thread or open a new issue with more details. Thanks!

[2021-01-05 19:48] #494 closed

[2021-01-05 19:48] notwaldorf commented on #507
Closing this issue as stale because it has not had recent activity. If you have any more updates, please comment on this thread or open a new issue with more details. Thanks!

[2021-01-05 19:48] #507 closed

[2021-01-05 19:51] notwaldorf commented on #520
I'll paste here the answer from #393, which I think answers this question:

[code]

[2021-01-05 19:52] notwaldorf commented on #520
Closing, as I don't think this is something that we want to magenta.js at this point.

[2021-01-05 19:52] #520 closed

[2021-01-05 19:53] notwaldorf commented on #524
Closing this issue as stale because it has not had recent activity. If you have any more updates, please comment on this thread or open a new issue with more details. Thanks!

[2021-01-05 19:56] notwaldorf commented on #438
Based on the [code](https://github.com/magenta/magenta-js/blob/master/image/src/arbitrary_stylization/model.ts#L105) and the [demo](https://github.com/magenta/magenta-js/blob/master/image/demos/arbitrary_stylization.html#L34), i think the image needs to have a height of 256px. I agree that this should probably be documented a bit better.

(If you would like to send a PR just to update this size in

[2021-01-05 20:06] notwaldorf opened #530 "Update image/ and sketch/ to use the new webpack build"
At least image uses browserify and that's a nightmare.

[2021-01-05 20:08] notwaldorf opened #531 "Migrate from tslint to eslint"
tslint has been deprecated for quite a while

[2021-01-05 20:09] notwaldorf commented on #296
A thousand years later, I think this will be an easy fix once https://github.com/magenta/magenta-js/issues/530 is done

[2021-01-19 10:47] Kappers opened #536 "How to deploy custom model that extends an existing magenta-js model?"
Is there any advice on how to deploy a model which extends an existing `magenta-js` model?

I have extended `MidiMe` in a custom model (a new TypeScript file in `magenta-js/music/src/music_vae`), but it is unclear what the advised steps are for either: bundling my local `magenta-js` repo; or somehow directly including the new script as a dependency in the browser.

Currently, I'm working on a remi

[2021-01-20 02:47] yishengjiang99 commented on #164
not sure if this counts as white knghting but here are some for-loops

while read -r; do;
  for v in 31, 95, 111;
do for i in {21..101};
do curl -s https://storage.googleapis.com/magentadata/js/soundfonts/sgm_plus/${dir}/p${i}_v${v}.mp3 -o - \
 | ffmpeg -y -hide_banner -loglevel panic -i pipe:0 -acodec pcm_f32le -f wav ${i}v${v}.wav;
done;
done;
done;

[2021-01-21 12:29] Kappers commented on #536
It wasn't compeltely obvious, but I think for a static site like this, just grabbing `magenta-js/music/dist/magentamusic.js` after `yarn build` is fine...

[2021-01-21 12:29] #536 closed

[2021-02-02 11:26] PimTournaye opened #539 "Piano Genie - allow easy configuring of max keys when loading @magenta/music in front end"
We're running into a problem where we're trying to get Piano Genie working in an installation with 25 buttons. Outside of the first 8 buttons specified in our button mapping array, music@1.3.1 throws an error.

[2021-02-02 17:56] notwaldorf commented on #539
Unless I remember this incorrectly (and @chrisdonahue can confirm), the model is trained on 8 buttons, so it won't be able to work on an arbitrary number of buttons unless you duplicate them (so 4 or the 25 map to the same one of the 8).

[2021-02-02 18:26] chrisdonahue commented on #539
@notwaldorf is correct. In addition to duplicate button mapping, you could try to hack in support by changing the [`NUM_BUTTONS`](https://github.com/magenta/magenta-js/blob/2cdfc34851de6421ddfe34659cc39723fcbe36fa/music/src/piano_genie/model.ts#L31) constant, but the behavior may be unwieldy because the model was not trained to expect this.

[2021-02-02 19:40] nathanss opened #540 "midime.train broken in @magenta/music@1.21.0"
Hello!

I was trying to do a development using MidiMe and apparently something happened from version 1.20.0 to version 1.21.0 that changes the expected behavior.

I was basing myself from the demo [MelodyMe](https://midi-me.glitch.me/), which is developed originally using version 1.9.0. By manually performing a bisect, I managed to find out that the demo works until version 1.20.0.

If you check [

[2021-02-04 16:51] Kappers commented on #540
I had the same problem! As a temporary fix for demos in my dev fork, I had to change the `target` in `music/tsconfig.es5.json` from `es5` to `es2017`, following [this SO answer](https://stackoverflow.com/a/51860850/6334309).  It sounds related, but I know little about ES5/6 etc...

Maybe it should be obivous, but it'd be really useful to know exactly what build commands we are advised to use if wa

[2021-03-09 19:37] kfarr commented on #438
Yes it is not clear if there is any option to modify the output image dimensions or if this is "hard coded" into the model somehow. To be more generally useful for use in third-party applications control or at least documentation of output characteristics would be helpful.

[2021-03-15 16:41] marcoaccardi opened #544 "Player class doesn't contain AudioBuffer"
[code]

I've tried to start off with Magenta with NodeJS, but when I run the script I receive the following error:

`ReferenceError: AudioBuffer is not defined`

I understand that the issue might be caused by the fact that there is no WebAudio API in the node environment. How can I solve it?

[2021-03-15 18:21] notwaldorf commented on #544
cc @cannoneyed

[2021-03-24 19:09] timothywangdev commented on #544
same error

[2021-04-06 06:40] michaelhuber1937 opened #545 "Struggeling loading external module "core/audio_utils" for melSpectrogram"
I need to create a melSpectrogram in javascript to evaluate an audio client-side on my website (should be identical to what librosa in python does). But I am really struggeling to do so, in particular I can't load the audio_utils, listed here:

https://magenta.github.io/magenta-js/music/modules/_core_audio_utils_.html

Can somebody please help me which libraries I have to include in the script-tag

[2021-04-22 00:26] central-yharnam opened #547 "Example page broken"
The page https://hello-magenta-one-file.glitch.me/

returns "(new h.MembraneSynth()).toDestination is not a function" in the console and does not work.

[2021-05-18 21:27] OmarShehata commented on #547
This seems to work now!

[2021-05-21 06:21] hihunjin opened #560 "[ddsp] make my own model"
@EdwinToh @notwaldorf
Hi. I'd like to put my own instrument on [ddsp](https://github.com/magenta/magenta-js/blob/master/music/demos/ddsp_tone_transfer.ts#L111). Would you please tell me how to make my own ``model.json`` and weight/checkpoint files? Thanks in advance.

[2021-05-25 16:49] TheOnlylight opened #561 "unable to use the url to notesequence composer"
name 'urlToNoteSequence' is not defined

[2021-06-01 15:37] cifkao opened #564 "New @magenta/music release?"
Is there any chance for a new release of @magenta/music to include the unreleased changes? I'm talking mainly about my PRs #512, #532, #533 (all merged in January), which I put some effort into, so it would be nice to have the changes available. Thanks!

[2021-06-03 02:29] notwaldorf commented on #564
Oh no! I stopped getting emails from this repo — let me ping @adarob really quick since I can’t get to a computer for another week.

[2021-06-03 02:32] notwaldorf commented on #561
How are you using the function? How are you importing it? Do you have a code sample we can use to repro your problem?

[2021-06-03 02:33] notwaldorf commented on #547
Whew! @adarob you should mark this as closed, I’ve lost privileges :(

[2021-06-03 02:35] notwaldorf commented on #545
Iirc audio_utils is not actually exported anywhere (see the answer to #520). I’d recommend maybe copying that function out of the file to your local project.

[2021-06-03 02:35] notwaldorf commented on #560
Cc @jesseengel do you know the answer to this?

[2021-06-03 02:38] hihunjin commented on #560
Thanks for the reply.
I made it by myself. But, Is it possible to upload my weights on the googleapi storage of yours? like [this](https://storage.googleapis.com/magentadata/js/checkpoints/ddsp/violin/model.json)

[2021-06-03 02:40] notwaldorf commented on #560
Ah unfortunately that storage bucket is just for the checkpoints maintained by the team, but you can create your own buckets: https://cloud.google.com/storage/docs/creating-buckets

Otherwise, putting the checkpoints in any cloud folder/publically available location should work as well.

[2021-06-03 02:42] #560 closed

[2021-06-03 14:34] #547 closed

[2021-06-03 21:55] Oriolla opened #565 "checkpoint_converter.py | error in function write_weights ...?"
In checkpoint_converter.py:

write_weights([entries],
    output_dir,
     write_manifest=True,
    **quantization_dtype**=quantization_dtype,
    <span class="pl-s1">shard_size_bytes</span><span class="pl-c1">=</span><span class="pl-s1">shard_mb</span> <span class="pl-c1">*</span> <span class="pl-c1">1024</span> <span class="pl-c1">*</span> <span class="pl-c1">1024</span>)

Is it right? May be **

[2021-06-13 16:45] cifkao opened #571 "ES module not published on NPM"
Thanks for publishing `@magenta/music@1.22.0` (#564)! I just installed it and it seems that the `esm` directory (which should normally be created by `yarn build`) is missing from the package. I can see that I indeed have the version that _should_ have the ES module, since `package.json` references it (`"module": "esm/index.js"`), but the directory itself is not there.

[2021-06-13 16:47] cifkao commented on #564
Thanks! Some files seem to be missing though (#571), could you please look into that?

[2021-06-13 16:58] cifkao commented on #571
I found the problem, #572 should fix it!

[2021-06-13 16:59] #571 closed

[2021-06-13 18:31] VG-account1 opened #573 "Some notes being visualized but not played"
Some notes are being visualized but not played. For example the lowest note of the highest voice of [passport.mid](https://archive.org/download/passport.mid/passport.mid) (mirrors [here](https://midis.fandom.com/wiki/Passport#Listen_to_Midi)).

Tested in [the Visualizer](https://magenta.github.io/magenta-js/music/demos/visualizer.html).

[2021-06-14 18:37] notwaldorf commented on #573
Hmm if they're not played it might be a problem with the player that you're using -- are there any errors in the console? If you're using a SoundFont player, it could be that the instrument it's using doesn't have a good sound for that pitch/velocity combination. It could also be that the velocity of that note is too small and can't be heard.

[2021-06-20 19:20] JanZaion opened #576 ""TypeError: Only absolute URLs are supported" even with absolute local path"
Hello,

Im trying to run Melody RNN checkpoint localy in node with the following code:

[code]
and I keep geting

[code]

Even though I have provided absolute path, I keep geting this error.

I have looked over [issue 470](https://github.com/magenta/magenta-js/issues/470), but it looks like I'm unable to follow instructions provided there.

Thanks for your help in advance!

[2021-07-03 04:11] aaronzhongg opened #577 "`NoteSequence` has a pitch outside of the valid range"
I'm generating a note sequence using MusicVAE and continuing the sequence with MusicRNN. There seems to be some limit with the pitch range which I can't seem to figure out. Any help would be appreciated!

![image](https://user-images.githubusercontent.com/14045995/124342637-5a2b1c80-dc19-11eb-9dfd-593b26358fe1.png)

[2021-07-19 01:03] HenriAugusto opened #578 "MusicVAE.interpolate() throws an error when inteprolating 4 sequences inside Web Workers"
Hi!

I've was trying to interpolating between 4 sequences with MusicVAE inside a dedicated workers and got an error.

Steps to reproduce:

1. Create a `Worker`:
2. Create a `MusicVAE` instance¹
3. Call `.interpolate()` with an array of 4 note sequences.

¹ _tested with two checkpoints: [one](https://storage.googleapis.com/magentadata/js/checkpoints/music_vae/mel_4bar_med_q2), [two](https://storage

[2021-07-19 01:17] HenriAugusto commented on #578
It is related to tfjs.

Works with tfjs 2.8.6.
Doesn't with tfjs 3.0.0

[2021-07-20 00:44] HenriAugusto opened #579 "Cannot initialize MidiMe (version >= 1.21)"
Hello!

I'm getting a error when initializing MidiMe with version >= 1.21

Reproducing the error is as simple as:

[code]
The error:

[code]

Throwing line seems to be [midi_me.ts#275](https://github.com/magenta/magenta-js/blame/5926568aef697a165f8abcd20e6cbe4a4f989634/music/src/music_vae/midi_me.ts#L275)

MCVE:

[code]

[2021-07-20 15:45] cifkao commented on #573
Here is an example with just the offending note: [note89.zip](https://github.com/magenta/magenta-js/files/6849609/note89.zip). The velocities are between 82 and 105, so they should be audible.

I can see the correct samples being loaded in my browser (e.g. [p89_v95.mp3](https://storage.googleapis.com/magentadata/js/soundfonts/sgm_plus/pad_3_polysynth/p89_v95.mp3)), but I don't hear them when I hit

[2021-07-20 15:48] cifkao commented on #573
And there are no errors in the console.

[2021-07-20 23:28] HenriAugusto commented on #579
I'm closing this in favor of #540.

Although the Issue's title mentions `MidiMe.train()`, the author talks about `.initialize()` in the issue's body.

[2021-07-20 23:28] #579 closed

[2021-08-04 15:40] cdfmlr commented on #453
Hi, I am wondering if there's any progress on the issue?

[2021-08-07 08:25] majorcyto opened #581 "Notes out of range cause other notes on the same tick to skip playing."
I am not sure if this should be reported here, or at Magenta. But when you have a song playing that has notes out of range, any other notes on the same tick / vertical slice are **also** skipped even though they are valid and have valid sound files.

This was reported to me by a user that noticed the issue. We then tested by removing the out of pitch notes and now the other notes on the same tick

[2021-08-10 03:16] majorcyto commented on #573
I have reproduced this issue, with the exact same pitch note (89) with a custom soundfont. And just like the message above the note sound file is present and loaded by the browser with no error in the console.

[2021-08-10 05:16] Blargel commented on #573
From my limited poking around, it appears this behavior is caused by [this conditional in player.ts](https://github.com/magenta/magenta-js/blob/5926568aef697a165f8abcd20e6cbe4a4f989634/music/src/core/player.ts#L181). The constants being used are defined [at the bottom of constants.ts](https://github.com/magenta/magenta-js/blob/5926568aef697a165f8abcd20e6cbe4a4f989634/music/src/core/constants.ts#L8

[2021-08-24 04:30] pranayaggarwal opened #585 "[ddsp] Use our own trained model"
Hi Team,

We have trained our own ddsp timbre transfer model using [these steps](https://github.com/magenta/ddsp/blob/main/ddsp/colab/demos/train_autoencoder.ipynb)

✅ This model is working fine with the notebook version of custom model load i.e. https://colab.research.google.com/github/magenta/ddsp/blob/master/ddsp/colab/demos/timbre_transfer.ipynb

However, we were trying to plug this in magenta

[2021-08-24 04:54] pranayaggarwal commented on #585
cc @jesseengel , @notwaldorf

[2021-08-24 05:49] pranayaggarwal commented on #585
cc @edwintoh

[2021-08-24 22:01] notwaldorf commented on #581
Argh right. This probably shouldn’t throw this aggressively, and should catch the exception and just report it. My workaround in the past when this has happened is to clean the note sequence before I play it to avoid this. I’ll try to take a look at this soon!

[2021-08-29 18:08] jesseengel commented on #585
Sorry for the delay on this. This code path wasn't very robust and probably was broken somewhere along the way. There is some flux with the ddsp repo at the moment (fixing a bug with the power/loudness calculation), so part of fixing that will be making sure this export works. It might take a little bit (hopefully not more than a couple weeks max [sorry, lots of competing priorities]) but it's act

[2021-09-09 10:08] riaan53 commented on #544
@marcoaccardi Hi, did you manage to solve this error?

[2021-10-29 22:15] majorcyto opened #596 "NPM Repository Version Update?"
Hey @notwaldorf ! Sorry, not trying to be a pest... but I see you merged the changes into main (Yay!).

What is the timeline looking like for a version release to the [Magenta Music NPM](https://www.npmjs.com/package/@magenta/music/v/1.23.0) as that is what I use to get the updates for my website, thank you!

[2021-10-29 22:28] majorcyto commented on #596
Also CC @adarob, in case you want to send it up to NPM. :)!

[2021-10-29 22:54] notwaldorf commented on #596
I was awaiting on a lint fix to be approved; I can do an npm release later
today!

On Fri, Oct 29, 2021 at 3:15 PM Jerrod ***@***.***> wrote:

[2021-10-29 23:04] majorcyto commented on #596
Ahh ok! Sorry about that I did not realize we were blocked waiting on another thing. Thank you for letting me know!

[2021-11-01 19:20] notwaldorf commented on #596
Released as 1.23.1!

[2021-11-01 19:20] #596 closed

[2021-11-02 19:58] jonasdoevenspeck opened #599 "Generating midi in Magenta-js with own trained DrumsRNN model"
Hi,

I want to train my own Drums_RNN model and use it to generate MIDI in a web-browser with magenta-js.
I have the midi generation and synthesis working with the pretrained drums_rnn model but have some issues when using my own trained model.

**1)** First, I trained the model as follows:

`drums_rnn_train --config="drum_kit" --run_dir="path1" --sequence_example_file="path2" --hparams="batch_siz

[2021-12-02 11:51] TerakoyaAcademia opened #601 "Error in mm.sequenceProtoToMidi"
While using multitrack_med_fb256 model, I can download the midi file using `saveSequence` function. The file can be played in VLC without any problem. Now, the issue begins when I use trio_16_bar_xl model, Everything works fine but when I download the midi file generated using `saveSequence` function. The midi file is unable to play (i.e., time is shown but the music does not produce sound). For i

[2021-12-03 09:19] TerakoyaAcademia commented on #601
I tried #462 i.e adding velocity and it worked. After adding the following line of code:
[code]
`const QPM=120` is defined already.

After this there is no error in using sequenceProtoToMidi.

[2021-12-03 09:19] #601 closed

[2022-02-07 22:39] mjxmusic commented on #427
Hi @adarob - I wanted to see if there were any updates on this? And in case I wanted to pursuit training the model "the old way", could you elaborate what you mean by that?

[2022-02-08 00:36] adarob commented on #427
You would need to switch where the attention is applied (basically revert that PR mentioned above).

[2022-03-09 08:50] Defiduke commented on #273
I have tried looking into this, but cannot find a way to define my own mag file / chkpts somewhere? did anyone else find a way yet

[2022-03-11 09:43] mattebass opened #622 "Strange results when using isQuantizedSequence() method"
Hi,
I'm actually using magenta.js in node and trying to parse some generated melodies.
In my code I need to know if the generated melody is quantised in order to pass to the model
When using:

[code]
the result is true if the melody is quantised as for melody2, but undefined if not as for melody1.
Is It a bug or I'm missing something?
Thanks

[2022-03-25 03:16] damjanprvc commented on #565
Yes, had the same issue. Changed to 'quantization_dtype_map' and worked fine.
Opened a new pull request as well.

[2022-04-03 21:14] DronHazra opened #625 "unable to import from @magenta/music"
I'm trying to use Magenta in a Next.js project, but when I try to import anything it gives me the following error:
[code]
<img width="961" alt="Screen Shot 2022-04-03 at 5 07 04 PM" src="https://user-images.githubusercontent.com/62195614/161448715-5799e37e-1a68-47cb-89ab-c4c095913c43.png">

I'm importing something like this: `import { SoundFontPlayer } from '@magenta/music'` in my `index.js` file—

[2022-04-17 15:08] rhelsing opened #626 "Add mt3 to checkpoints usable?"
Would it be possible to add the transcription checkpoint? Would it work with the OnsetsAndFrames model? I was hoping it would be reference-able like so:

[code]

https://colab.research.google.com/github/magenta/mt3/blob/main/mt3/colab/music_transcription_with_transformers.ipynb

[2022-04-18 16:17] cghawthorne commented on #626
Unfortunately no. The architecture differences between the two models are substantial, and we don't have a javascript implementation for MT3. One big difficulty would be getting a Transformer implementation that is performant enough in javascript. We're exploring ways to make the model easier/faster to use, but for now, I recommend just using the colab notebook.

[2022-04-18 16:17] #626 closed

[2022-04-18 22:49] rhelsing commented on #626
@cghawthorne thanks for getting back to me!

[2022-04-21 00:17] mjxmusic commented on #106
hi @adarob - any idea if there was ever a fix implemented for this w/ Magenta.JS?

[2022-04-21 18:27] mjxmusic commented on #599
hi @jonasdoevenspeck - did you ever work through this issue?

[2022-04-26 14:50] adarob commented on #106
Sorry. but I am not sure if/when we will have time to fix this on our end. However, we would absolutely accept PR hhat does!

[2022-04-26 16:51] rhelsing commented on #626
@cghawthorne Would you be able to point me to the best resource for getting the model up and running on a local machine in python? as opposed to a collab notebook.

[2022-04-26 21:59] cghawthorne commented on #626
The code for running locally will be basically the same as what's in the colab notebook. So I'd start by copy/pasting the colab notebook into a local python file.

[2022-05-02 04:44] 5t33 commented on #625
Also getting this error:

```const core = require('@magenta/music/node/core');```

results in MODULE_NOT_FOUND

[2022-05-21 19:29] swampthang opened #627 "mm.Player.tone.Transport.loop settings not always honored during playback"
First, what an awesome set of libraries! Thanks so much!!

I'm building a simple midi player class with a looping feature as well as a tempo setting. The codepen is here...

https://codepen.io/swampthang/pen/vYdJYZy?editors=1010

In the pen, after the user makes a selection of a group of rect elements in the PianoRollSvgVisualizer, I call a setLoopParams function that sets these parameters:

[code

[2022-05-21 20:52] swampthang commented on #627
I just noticed that the magenta player has a `currentPart` object with the same `loop`, `loopStart` and `loopEnd` properties. I noticed that, the first time a loop is set using `mm.Player.tone.Transport.loop` the currentPart loop object is undefined. After that, it is set with the loop properties but the loop property is set to false, but the loopStart and loopEnd properties are set according to m

[2022-05-23 20:00] daysleeperx opened #628 "Tensorflow NodeJS optimization"
Hi,

I am confused about the following message, when initializing MusicRNN model:
[code]
 and when I follow all the steps described in the message (installing `@tensorflow/tfjs-node` and adding following import `const tf = require('@tensorflow/tfjs-node');` to the file with magenta code I get the following message at first:
[code]
 And the following error when running the model:
[code]
 Versions:

[2022-05-31 16:07] swampthang commented on #627
Did I post this in the wrong place or is this just not as much of an issue as I perceive it to be? Please let me know if there might be another place that would be more appropriate to post this. There's so little in stackoverflow, etc.

[2022-07-01 17:19] HyoJeong-Shin opened #636 "How to use my own trained model?"
Is there a way to load my own model file(basic_rnn.mag) into a browser(magenta.js) and use it? (I want to load it into mm.MusicRNN)

<img width="1059" alt="create melody_rnn bundle" src="https://user-images.githubusercontent.com/62791327/176940823-9a7ee282-c59a-46fa-9531-5f98bd9bcbb5.png">

<img width="777" alt="my own basic_rnn file" src="https://user-images.githubusercontent.com/62791327/1769408

[2022-07-07 05:27] noobyogi0010 commented on #531
Hey @notwaldorf
I would like to work on this issue, if no one else has already taken this up.
Thanks!

[2022-07-18 05:48] HyoJeong-Shin opened #637 "how can i save continuesequence to midi file? (django)"
![image](https://user-images.githubusercontent.com/62791327/179451539-c1731920-4880-497b-9714-469261959967.png)
this is my code.